In [1]:
import pandas as pd

### Data Collection

In [2]:
import requests

# URLs of the files
train_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_train.csv'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_test.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_data_url, 'module3_exercise_train.csv')
download_file(test_data_url, 'module3_exercise_test.csv')

Downloaded module3_exercise_train.csv from https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_train.csv
Downloaded module3_exercise_test.csv from https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_test.csv

In [3]:
df_train =  pd.read_csv("module3_exercise_train.csv", sep=",", index_col='id')
df_train = df_train.dropna()

### Data Preprocessing

In [4]:
df_train

,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
id,,,,,,,,,,,,,,,,,
254,2,1,4.0,1,1977.0,two,440,0,55,0,0,165,0,0,7,2010.0,127500
1066,1,1,5.0,1,1983.0,two,612,349,40,0,0,0,0,0,9,2009.0,316600
638,4,1,10.0,1,1998.0,two,420,144,123,0,0,0,0,0,7,2006.0,258000
799,3,1,8.0,0,1916.0,one,180,0,0,0,140,0,0,0,8,2009.0,135000
380,2,1,5.0,0,2005.0,two,438,108,0,0,0,0,0,0,3,2006.0,167240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,4,1,7.0,0,-1.0,zero,0,0,192,0,0,0,0,0,11,2008.0,130000
1130,3,1,6.0,0,1964.0,two,504,0,0,0,0,0,0,0,7,2008.0,145000
1294,3,1,7.0,1,1996.0,three,889,220,0,0,0,0,0,0,7,2009.0,265000
860,3,1,6.0,1,1966.0,two,453,188,108,0,0,0,0,0,7,2006.0,155000
1126,4,1,9.0,1,1932.0,two,360,0,0,0,0,0,0,0,7,2006.0,239000

In [5]:
df_train.drop(df_train.columns[0],axis = 1)
df_train.fillna(-1)

,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
id,,,,,,,,,,,,,,,,,
254,2,1,4.0,1,1977.0,two,440,0,55,0,0,165,0,0,7,2010.0,127500
1066,1,1,5.0,1,1983.0,two,612,349,40,0,0,0,0,0,9,2009.0,316600
638,4,1,10.0,1,1998.0,two,420,144,123,0,0,0,0,0,7,2006.0,258000
799,3,1,8.0,0,1916.0,one,180,0,0,0,140,0,0,0,8,2009.0,135000
380,2,1,5.0,0,2005.0,two,438,108,0,0,0,0,0,0,3,2006.0,167240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,4,1,7.0,0,-1.0,zero,0,0,192,0,0,0,0,0,11,2008.0,130000
1130,3,1,6.0,0,1964.0,two,504,0,0,0,0,0,0,0,7,2008.0,145000
1294,3,1,7.0,1,1996.0,three,889,220,0,0,0,0,0,0,7,2009.0,265000
860,3,1,6.0,1,1966.0,two,453,188,108,0,0,0,0,0,7,2006.0,155000
1126,4,1,9.0,1,1932.0,two,360,0,0,0,0,0,0,0,7,2006.0,239000

In [6]:
def namer (x):
    if x == 'two':
        return 2
    elif x == 'one':
        return 1
    elif x == 'zero':
        return 0
    else:
        return 3

df_train['GarageCars'] = df_train['GarageCars'].map(namer)

### Model Building and Evaluation

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

### Generating Submission File

In [8]:
X_test =  pd.read_csv("module3_exercise_test.csv", sep=",", index_col='id')

In [14]:
import torch
from torch import nn
from torch import optim
import numpy as np
X,target = df_train[df_train.columns[:-1]].values , df_train[[df_train.columns[-1]]].values
n,p = X.shape
q = target.shape[1]
Xt = torch.tensor(X, dtype = torch.float32, requires_grad = True)
yt = torch.tensor(target, dtype = torch.float32)
model = nn.Sequential(nn.Linear(p,32),
                      nn.Dropout(0.2),
                      nn.ReLU(),
                      nn.Linear(32,8),
                      nn.ReLU(),
                      nn.Linear(8,q),
                      nn.ReLU()
                     )
crit = nn.MSELoss()
optimizer = optim.Adam(model.parameters(),lr = 0.001)
n_it = 10000
for _ in range(n_it):
    optimizer.zero_grad()
    y_pred = model(Xt)
    loss = crit(yt,y_pred)
    loss.backward()
    optimizer.step()

In [15]:
X_test['GarageCars'] = X_test['GarageCars'].map(namer)
def replace(x,mean):
  if pd.isna(x):
    return mean
  else:
    return x
cols = X_test.columns

for col in cols:
    m = X_test[col].mean()
    X_test[col] = X_test[col].apply(lambda x: replace(x, m))

In [16]:
y_pred  = model(torch.tensor(X_test.values,dtype = torch.float32))
y_pred

tensor([[282530.2500],
        [175228.2500],
        [201300.3906],
        [268154.3125],
        [144628.5625],
        [213897.3594],
        [247883.4531],
        [189244.3281],
        [130122.9219],
        [140609.1094],
        [178747.6406],
        [ 88418.2578],
        [190930.6719],
        [264363.5625],
        [237781.2969],
        [121729.3672],
        [157126.6406],
        [206525.1719],
        [234486.0781],
        [139326.8281],
        [192347.3125],
        [162415.2969],
        [216098.0781],
        [137364.6406],
        [181391.0000],
        [ 98426.8359],
        [193963.5781],
        [162332.1875],
        [130445.8672],
        [243867.2031],
        [154237.7969],
        [ 91568.1641],
        [165144.2656],
        [162564.4688],
        [287425.0312],
        [168577.2969],
        [262654.1250],
        [164196.0000],
        [123729.4062],
        [126234.9297],
        [113892.1484],
        [248945.3281],
        [158298.0469],
        [135138.1094],
        [194812.2812],
        [277673.2812],
        [229475.3594],
        [ 95076.3047],
        [181270.3594],
        [163516.7188],
        [168232.5156],
        [261814.9062],
        [144280.2031],
        [365871.0000],
        [124196.6484],
        [189437.7969],
        [153710.3906],
        [234399.2969],
        [173752.9531],
        [276935.0625],
        [216363.9531],
        [231450.1094],
        [143036.7344],
        [206207.1562],
        [261538.9219],
        [314698.9062],
        [127938.1484],
        [117634.6953],
        [150325.0469],
        [100479.8047],
        [140950.1094],
        [ 78862.2109],
        [244688.1719],
        [118320.7109],
        [309182.4062],
        [199612.6719],
        [197801.6719],
        [134862.5781],
        [272696.6250],
        [168918.6094],
        [172584.6406],
        [170742.6094],
        [274523.3438],
        [251205.6562],
        [192667.6719],
        [254306.8281],
        [154511.0312],
        [183784.4062],
        [267781.9688],
        [119825.4844],
        [131910.9531],
        [207648.8906],
        [300881.9375],
        [253086.2969],
        [186293.0312],
        [157304.4375],
        [154586.5781],
        [ 86405.7109],
        [180925.2656],
        [257973.5156],
        [238200.0469],
        [190090.9062],
        [128167.7578],
        [100711.9297],
        [161912.9219],
        [137392.0312],
        [286950.2500],
        [188006.4844],
        [156463.9375],
        [132082.7656],
        [ 93200.1016],
        [137046.3906],
        [ 85683.8438],
        [150253.0781],
        [112788.4766],
        [150009.6562],
        [171826.7031],
        [189243.5000],
        [120507.4609],
        [179097.3594],
        [188288.9688],
        [247070.8906],
        [158282.2344],
        [393942.5312],
        [125340.3516],
        [178041.9531],
        [ 91904.3828],
        [157588.2656],
        [150067.9062],
        [110827.2422],
        [141398.4375],
        [226464.6406],
        [261032.9844],
        [198077.6094],
        [146165.2969],
        [384355.2188],
        [207550.1719],
        [238489.1719],
        [168503.6875],
        [215126.8281],
        [179270.5469],
        [156333.4062],
        [117474.0859],
        [174734.5312],
        [216325.7656],
        [ 91581.4219],
        [147119.2969],
        [115063.2734],
        [118016.4766],
        [183680.6719],
        [213642.7969],
        [188053.0781],
        [160351.8594],
        [240201.8750],
        [187493.3594],
        [180670.6094],
        [194353.5938],
        [128697.8047],
        [126550.1719],
        [202617.6406],
        [203044.2656],
        [275465.2812],
        [228826.2031],
        [380995.4375],
        [199497.5156],
        [258934.0156],
        [273809.3438],
        [154625.5156],
        [133162.8281],
        [141957.4219],
        [174951.1562],
        [118748.8828],
        [193958.7344],
        [283180.0938],
        [115785.2422],
        [142620.2031],
        [354379.3438],
        [185977.3906],
        [179324.2969],
        [277915.4062],
        [174558.4844],
        [134836.0312],
        [115128.5234],
        [274744.5625],
        [316532.6250],
        [316334.6562],
        [206002.4844],
        [127812.7422],
        [291361.9062],
        [142286.5000],
        [103023.4453],
        [197736.7656],
        [ 97263.6172],
        [158314.1719],
        [165144.3906],
        [358608.5625],
        [107234.6641],
        [169403.3906],
        [229608.8281],
        [140320.4062],
        [265797.7812],
        [128085.0156],
        [113958.3516],
        [245582.9844],
        [126668.2578],
        [159000.3594],
        [232521.2344],
        [114612.3516],
        [125173.7266],
        [236734.5469],
        [180744.3750],
        [149482.1719],
        [252829.8281],
        [129664.1797],
        [154426.4219],
        [166789.4531],
        [190741.4844],
        [119989.9297],
        [236058.4531],
        [206980.5156],
        [195435.2188],
        [152330.4062],
        [220762.0781],
        [248052.7656],
        [154342.4531],
        [156102.0156],
        [130922.7109],
        [246112.1094],
        [138131.6094],
        [151472.7031],
        [168900.5781],
        [464543.3438],
        [176671.2812],
        [121050.4688],
        [127576.9766],
        [175845.1406],
        [ 96259.5000],
        [156833.8750],
        [237532.5469],
        [218922.1094],
        [186548.3906],
        [217977.5156],
        [187235.3281],
        [158021.2344],
        [233046.6719],
        [111764.1797],
        [115878.5938],
        [205015.8594],
        [162266.1719],
        [217727.7656],
        [100651.0234],
        [167967.2344],
        [186720.2969],
        [221180.2656],
        [113047.4297],
        [197273.5000],
        [197150.5156],
        [212095.8906],
        [174857.2500],
        [169484.2500],
        [157073.8750],
        [150732.3594],
        [220775.4219],
        [166564.3750],
        [245062.9531],
        [191515.6250],
        [228502.5781],
        [141025.6250],
        [319365.4062],
        [177346.3750],
        [188945.2812],
        [308655.6562],
        [106172.9688],
        [225481.7500],
        [143144.1094],
        [224346.7031],
        [121880.4062],
        [116473.7891],
        [180803.4531],
        [188973.6406],
        [216550.2656],
        [236861.1406],
        [199668.0312],
        [183143.4219],
        [284619.1562],
        [251690.2656],
        [286105.9062],
        [177376.8594],
        [181199.7656],
        [203800.6250],
        [265141.4062],
        [316415.4688]], grad_fn=<ReluBackward0>)

In [17]:
submission = pd.DataFrame({
    'id': X_test.index,
    'SalePrice': y_pred.detach().numpy().squeeze()
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

     id      SalePrice
0   892  282530.250000
1  1105  175228.250000
2   413  201300.390625
3   522  268154.312500
4  1036  144628.562500