In [1]:
import pandas as pd

### Data Collection

In [2]:
import requests

# URLs of the files
train_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_train.csv'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_test.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_data_url, 'module3_exercise_train.csv')
download_file(test_data_url, 'module3_exercise_test.csv')

Downloaded module3_exercise_train.csv from https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_train.csv
Downloaded module3_exercise_test.csv from https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_test.csv

In [3]:
df_train =  pd.read_csv("module3_exercise_train.csv", sep=",", index_col='id')
df_train = df_train.dropna()

### Data Preprocessing

In [4]:
df_train

,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
id,,,,,,,,,,,,,,,,,
254,2,1,4.0,1,1977.0,two,440,0,55,0,0,165,0,0,7,2010.0,127500
1066,1,1,5.0,1,1983.0,two,612,349,40,0,0,0,0,0,9,2009.0,316600
638,4,1,10.0,1,1998.0,two,420,144,123,0,0,0,0,0,7,2006.0,258000
799,3,1,8.0,0,1916.0,one,180,0,0,0,140,0,0,0,8,2009.0,135000
380,2,1,5.0,0,2005.0,two,438,108,0,0,0,0,0,0,3,2006.0,167240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,4,1,7.0,0,-1.0,zero,0,0,192,0,0,0,0,0,11,2008.0,130000
1130,3,1,6.0,0,1964.0,two,504,0,0,0,0,0,0,0,7,2008.0,145000
1294,3,1,7.0,1,1996.0,three,889,220,0,0,0,0,0,0,7,2009.0,265000
860,3,1,6.0,1,1966.0,two,453,188,108,0,0,0,0,0,7,2006.0,155000
1126,4,1,9.0,1,1932.0,two,360,0,0,0,0,0,0,0,7,2006.0,239000

In [5]:
df_train.drop(df_train.columns[0],axis = 1)
df_train.fillna(-1)

,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
id,,,,,,,,,,,,,,,,,
254,2,1,4.0,1,1977.0,two,440,0,55,0,0,165,0,0,7,2010.0,127500
1066,1,1,5.0,1,1983.0,two,612,349,40,0,0,0,0,0,9,2009.0,316600
638,4,1,10.0,1,1998.0,two,420,144,123,0,0,0,0,0,7,2006.0,258000
799,3,1,8.0,0,1916.0,one,180,0,0,0,140,0,0,0,8,2009.0,135000
380,2,1,5.0,0,2005.0,two,438,108,0,0,0,0,0,0,3,2006.0,167240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,4,1,7.0,0,-1.0,zero,0,0,192,0,0,0,0,0,11,2008.0,130000
1130,3,1,6.0,0,1964.0,two,504,0,0,0,0,0,0,0,7,2008.0,145000
1294,3,1,7.0,1,1996.0,three,889,220,0,0,0,0,0,0,7,2009.0,265000
860,3,1,6.0,1,1966.0,two,453,188,108,0,0,0,0,0,7,2006.0,155000
1126,4,1,9.0,1,1932.0,two,360,0,0,0,0,0,0,0,7,2006.0,239000

In [6]:
def namer (x):
    if x == 'two':
        return 2
    elif x == 'one':
        return 1
    elif x == 'zero':
        return 0
    else:
        return 3

df_train['GarageCars'] = df_train['GarageCars'].map(namer)

### Model Building and Evaluation

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

### Generating Submission File

In [8]:
X_test =  pd.read_csv("module3_exercise_test.csv", sep=",", index_col='id')

In [13]:
import torch
from torch import nn
from torch import optim
import numpy as np
X,target = df_train[df_train.columns[:-1]].values , df_train[[df_train.columns[-1]]].values
n,p = X.shape
q = target.shape[1]
Xt = torch.tensor(X, dtype = torch.float32, requires_grad = True)
yt = torch.tensor(target, dtype = torch.float32)
model = nn.Sequential(nn.Linear(p,512), nn.ReLU(), nn.Dropout(0.2),
                      nn.Linear(512,256), nn.ReLU(), nn.Dropout(0.2),
                      nn.Linear(256,32), nn.ReLU(), nn.Dropout(0.2),
                      nn.Linear(32,q)
                     )
crit = nn.MSELoss()
optimizer = optim.Adam(model.parameters(),lr = 0.001)
n_it = 1000
model.train()
for _ in range(n_it):
    optimizer.zero_grad()
    y_pred = model(Xt)
    loss = crit(yt,y_pred)
    loss.backward()
    optimizer.step()

In [14]:
X_test['GarageCars'] = X_test['GarageCars'].map(namer)
def replace(x,mean):
  if pd.isna(x):
    return mean
  else:
    return x
cols = X_test.columns

for col in cols:
    m = X_test[col].mean()
    X_test[col] = X_test[col].apply(lambda x: replace(x, m))

In [15]:
model.eval()
y_pred  = model(torch.tensor(X_test.values,dtype = torch.float32))
y_pred

tensor([[245114.2812],
        [160683.1250],
        [158930.0312],
        [255649.5000],
        [165535.2188],
        [196268.0625],
        [211453.3125],
        [188969.6250],
        [126652.4375],
        [131100.0312],
        [198525.1875],
        [ 89585.4688],
        [170882.2500],
        [275450.2188],
        [262050.3125],
        [109171.6797],
        [157379.9688],
        [242126.9062],
        [216406.7188],
        [182441.3906],
        [199564.4688],
        [134719.8438],
        [207151.7188],
        [156368.9688],
        [174590.0469],
        [124011.9531],
        [159985.3750],
        [139715.8750],
        [174256.8125],
        [229382.2656],
        [139786.9062],
        [101562.2109],
        [171107.2188],
        [138983.7500],
        [290176.9375],
        [189056.2812],
        [345022.5312],
        [150989.8438],
        [142664.0000],
        [119182.7109],
        [151077.2812],
        [222622.1875],
        [129807.3125],
        [137499.7656],
        [204705.0312],
        [325183.0938],
        [227046.5781],
        [106969.9375],
        [138852.0625],
        [146084.7500],
        [143060.2188],
        [232101.9688],
        [105703.3672],
        [323931.3438],
        [146787.8594],
        [175517.1719],
        [129547.5781],
        [203819.5000],
        [180337.6562],
        [284508.0938],
        [207597.6875],
        [272035.7188],
        [176639.0625],
        [193371.5469],
        [242114.0625],
        [317422.7812],
        [132086.6250],
        [137102.1562],
        [142421.7188],
        [104087.2578],
        [155014.0000],
        [103998.8281],
        [256727.3750],
        [130994.0781],
        [313160.9062],
        [199099.6094],
        [207466.2812],
        [172780.0156],
        [256781.6719],
        [159534.5625],
        [189532.0000],
        [186464.9375],
        [316803.2188],
        [219048.1094],
        [178225.8438],
        [269009.2188],
        [140178.2812],
        [199514.8125],
        [298303.1562],
        [122192.7266],
        [125740.6797],
        [200702.8750],
        [327992.5938],
        [258624.8125],
        [161562.1250],
        [148440.7500],
        [146627.6562],
        [112457.1875],
        [173044.2656],
        [335953.7812],
        [238169.4375],
        [197319.3750],
        [136825.9688],
        [104178.9375],
        [157277.2031],
        [132630.9219],
        [289674.0312],
        [165490.5781],
        [140656.5000],
        [128231.9219],
        [ 92780.6953],
        [139924.2969],
        [ 90051.5312],
        [131124.8906],
        [119166.5781],
        [131190.3438],
        [158593.2969],
        [175829.2812],
        [157488.4062],
        [164350.2812],
        [185502.6250],
        [242538.0312],
        [158166.7344],
        [383895.8750],
        [130068.0469],
        [202980.3438],
        [124817.9219],
        [148956.7188],
        [133266.0156],
        [119400.1016],
        [111693.5469],
        [204246.3281],
        [237878.4688],
        [194467.2812],
        [132884.4375],
        [337683.3438],
        [206778.2812],
        [218032.3125],
        [153496.0469],
        [193677.9375],
        [159432.0312],
        [151770.9062],
        [126945.1641],
        [137530.6250],
        [224183.0312],
        [106247.8906],
        [147016.4062],
        [126416.5312],
        [147327.0312],
        [174656.7031],
        [224219.3438],
        [184157.0000],
        [138231.7969],
        [208854.4375],
        [173682.4844],
        [191327.6562],
        [217941.5469],
        [124708.3438],
        [122604.2891],
        [189888.2656],
        [182455.0938],
        [254551.1562],
        [246308.5312],
        [327361.5938],
        [172228.8750],
        [237419.1094],
        [287331.7500],
        [155980.0312],
        [136338.3281],
        [156590.4844],
        [158616.8438],
        [127525.2969],
        [169752.7969],
        [287481.3438],
        [122218.4062],
        [152454.0625],
        [336308.0938],
        [191704.9062],
        [176781.9531],
        [262935.1562],
        [171466.6094],
        [137910.5000],
        [124798.7969],
        [295219.9375],
        [294935.6875],
        [333626.0625],
        [184087.3750],
        [122719.9453],
        [270445.9688],
        [147667.2656],
        [132703.2969],
        [188312.7188],
        [115859.2031],
        [153098.8906],
        [185851.8438],
        [332904.5938],
        [117476.6406],
        [167244.5938],
        [248449.7188],
        [131786.0938],
        [256951.7812],
        [124160.1250],
        [154025.1406],
        [289940.2812],
        [125388.7031],
        [165691.6094],
        [200648.8125],
        [110004.5391],
        [149421.6406],
        [203011.9062],
        [171014.8906],
        [160134.7031],
        [227826.5312],
        [130721.9531],
        [146959.0000],
        [203955.3281],
        [195435.5312],
        [146158.6562],
        [216749.4375],
        [199519.2969],
        [167013.1875],
        [152967.1875],
        [210556.5000],
        [241361.1719],
        [158033.7344],
        [152127.2500],
        [151220.2812],
        [327205.0312],
        [121941.4453],
        [181565.6250],
        [165576.7188],
        [419836.0000],
        [141751.9688],
        [134326.0156],
        [174316.6406],
        [179986.3438],
        [121515.3281],
        [185624.7812],
        [206876.3906],
        [181524.5938],
        [185948.4219],
        [199321.4375],
        [160255.7188],
        [171033.9531],
        [225774.8906],
        [122120.3672],
        [118651.6719],
        [212807.0625],
        [148620.8125],
        [233761.8438],
        [124224.7969],
        [175522.0469],
        [204245.8125],
        [293578.1250],
        [121262.4062],
        [195881.0938],
        [137445.8750],
        [225446.7500],
        [190714.6094],
        [185600.1562],
        [153235.1562],
        [166929.6406],
        [209553.6875],
        [147603.2812],
        [217505.3438],
        [214166.0312],
        [212240.8125],
        [133428.7500],
        [277606.0938],
        [202311.4375],
        [221859.7500],
        [296023.4375],
        [118948.7422],
        [237101.6250],
        [151611.6562],
        [185111.3281],
        [110228.5781],
        [137313.6250],
        [213126.8906],
        [269686.4062],
        [202396.5938],
        [205531.4062],
        [196990.0312],
        [167408.0938],
        [243653.8438],
        [242053.5625],
        [284837.4688],
        [155665.7188],
        [198827.3125],
        [209835.4062],
        [246794.1406],
        [287375.6562]], grad_fn=<AddmmBackward0>)

In [16]:
submission = pd.DataFrame({
    'id': X_test.index,
    'SalePrice': y_pred.detach().numpy().squeeze()
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

     id     SalePrice
0   892  245114.28125
1  1105  160683.12500
2   413  158930.03125
3   522  255649.50000
4  1036  165535.21875