In [1]:
import pandas as pd

### Data Collection

In [2]:
import requests

# URLs of the files
train_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_train.csv'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_test.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_data_url, 'module3_exercise_train.csv')
download_file(test_data_url, 'module3_exercise_test.csv')

Downloaded module3_exercise_train.csv from https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_train.csv
Downloaded module3_exercise_test.csv from https://www.raphaelcousin.com/modules/data-science-practice/module3/exercise/module3_exercise_test.csv

In [3]:
df_train =  pd.read_csv("module3_exercise_train.csv", sep=",", index_col='id')
df_train = df_train.dropna()

### Data Preprocessing

In [4]:
df_train

,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
id,,,,,,,,,,,,,,,,,
254,2,1,4.0,1,1977.0,two,440,0,55,0,0,165,0,0,7,2010.0,127500
1066,1,1,5.0,1,1983.0,two,612,349,40,0,0,0,0,0,9,2009.0,316600
638,4,1,10.0,1,1998.0,two,420,144,123,0,0,0,0,0,7,2006.0,258000
799,3,1,8.0,0,1916.0,one,180,0,0,0,140,0,0,0,8,2009.0,135000
380,2,1,5.0,0,2005.0,two,438,108,0,0,0,0,0,0,3,2006.0,167240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,4,1,7.0,0,-1.0,zero,0,0,192,0,0,0,0,0,11,2008.0,130000
1130,3,1,6.0,0,1964.0,two,504,0,0,0,0,0,0,0,7,2008.0,145000
1294,3,1,7.0,1,1996.0,three,889,220,0,0,0,0,0,0,7,2009.0,265000
860,3,1,6.0,1,1966.0,two,453,188,108,0,0,0,0,0,7,2006.0,155000
1126,4,1,9.0,1,1932.0,two,360,0,0,0,0,0,0,0,7,2006.0,239000

In [5]:
df_train.drop(df_train.columns[0],axis = 1)
df_train.fillna(-1)

,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
id,,,,,,,,,,,,,,,,,
254,2,1,4.0,1,1977.0,two,440,0,55,0,0,165,0,0,7,2010.0,127500
1066,1,1,5.0,1,1983.0,two,612,349,40,0,0,0,0,0,9,2009.0,316600
638,4,1,10.0,1,1998.0,two,420,144,123,0,0,0,0,0,7,2006.0,258000
799,3,1,8.0,0,1916.0,one,180,0,0,0,140,0,0,0,8,2009.0,135000
380,2,1,5.0,0,2005.0,two,438,108,0,0,0,0,0,0,3,2006.0,167240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,4,1,7.0,0,-1.0,zero,0,0,192,0,0,0,0,0,11,2008.0,130000
1130,3,1,6.0,0,1964.0,two,504,0,0,0,0,0,0,0,7,2008.0,145000
1294,3,1,7.0,1,1996.0,three,889,220,0,0,0,0,0,0,7,2009.0,265000
860,3,1,6.0,1,1966.0,two,453,188,108,0,0,0,0,0,7,2006.0,155000
1126,4,1,9.0,1,1932.0,two,360,0,0,0,0,0,0,0,7,2006.0,239000

In [6]:
def namer (x):
    if x == 'two':
        return 2
    elif x == 'one':
        return 1
    elif x == 'zero':
        return 0
    else:
        return 3

df_train['GarageCars'] = df_train['GarageCars'].map(namer)

### Model Building and Evaluation

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

### Generating Submission File

In [8]:
X_test =  pd.read_csv("module3_exercise_test.csv", sep=",", index_col='id')

In [9]:
import torch
from torch import nn
from torch import optim
import numpy as np
X,target = df_train[df_train.columns[:-1]].values , df_train[[df_train.columns[-1]]].values
n,p = X.shape
q = target.shape[1]
Xt = torch.tensor(X, dtype = torch.float32, requires_grad = True)
yt = torch.tensor(target, dtype = torch.float32)
model = nn.Sequential(nn.Linear(p,q))
crit = nn.MSELoss()
optimizer = optim.Adam(model.parameters(),lr = 0.001)
n_it = 100
for _ in range(n_it):
    optimizer.zero_grad()
    y_pred = model(Xt)
    loss = crit(yt,y_pred)
    loss.backward()
    optimizer.step()

In [10]:
X_test['GarageCars'] = X_test['GarageCars'].map(namer)
def replace(x,mean):
  if pd.isna(x):
    return mean
  else:
    return x
cols = X_test.columns

for col in cols:
    m = X_test[col].mean()
    X_test[col] = X_test[col].apply(lambda x: replace(x, m))

In [11]:
y_pred  = model(torch.tensor(X_test.values,dtype = torch.float32))
y_pred

tensor([[ 185.0317],
        [ 169.6192],
        [ 194.8410],
        [ 232.4527],
        [ 163.4118],
        [ 198.1998],
        [ 196.7027],
        [ 168.8469],
        [ 167.1377],
        [ 157.5826],
        [ 174.0674],
        [ 430.6003],
        [ 185.5203],
        [ 197.7826],
        [ 193.4583],
        [ 408.5291],
        [ 167.4694],
        [ 184.7210],
        [ 183.8329],
        [ 180.8546],
        [ 169.5303],
        [ 160.0351],
        [ 183.6339],
        [ 167.4267],
        [ 164.6653],
        [ 152.9154],
        [ 168.7778],
        [ 173.2085],
        [ 182.9542],
        [ 184.7781],
        [ 196.7059],
        [ 405.1178],
        [ 165.0204],
        [ 165.9274],
        [ 200.0683],
        [ 172.9138],
        [ 220.1917],
        [ 165.0251],
        [ 178.0437],
        [ 152.7399],
        [ 185.6968],
        [ 199.4767],
        [ 169.4483],
        [ 150.2643],
        [ 185.8936],
        [ 209.2257],
        [ 181.0294],
        [ 407.5395],
        [ 184.8248],
        [ 155.9578],
        [ 169.5634],
        [ 195.1182],
        [ 409.0345],
        [ 198.6347],
        [ 164.9115],
        [ 167.9018],
        [ 161.6298],
        [ 174.3673],
        [ 170.7903],
        [ 199.1012],
        [ 170.8416],
        [ 186.8717],
        [ 128.5253],
        [ 199.6552],
        [ 209.5660],
        [ 206.5389],
        [ 162.9982],
        [ 154.0697],
        [ 157.1704],
        [ 405.0869],
        [ 168.2958],
        [ 406.0121],
        [ 194.3469],
        [ 172.1497],
        [ 213.7597],
        [ 177.9906],
        [ -23.2558],
        [ 165.5959],
        [ 195.0134],
        [ 143.4771],
        [ 175.1486],
        [ 183.3584],
        [ 205.8569],
        [ 184.3768],
        [ 175.0513],
        [ 195.2175],
        [ 110.4915],
        [ 174.2557],
        [ 195.1323],
        [ 151.1853],
        [ 154.8846],
        [ 178.2106],
        [ 212.9057],
        [ 198.8683],
        [ 167.7507],
        [ 158.3833],
        [ 154.7930],
        [ 409.6819],
        [ 172.6031],
        [ 215.2943],
        [ 185.9809],
        [ 184.7878],
        [ 153.9385],
        [ 406.1217],
        [ 168.5869],
        [ 157.3344],
        [ 200.6283],
        [ 179.5948],
        [ 164.6634],
        [ 162.8202],
        [ 420.5385],
        [ 162.5640],
        [ 437.0629],
        [ 160.7536],
        [ 152.1600],
        [ 178.9671],
        [ 166.2214],
        [ 167.8618],
        [ 172.5610],
        [ 169.9738],
        [ 162.2826],
        [ 194.5666],
        [ 161.3249],
        [ 262.6709],
        [ 173.1742],
        [ 180.7441],
        [ 154.3915],
        [ 169.0741],
        [ 164.7829],
        [ 152.4419],
        [ 409.6197],
        [ 228.7395],
        [ 187.6128],
        [ 177.1397],
        [ 172.1793],
        [ 205.5547],
        [ 173.2598],
        [ 183.1918],
        [ 165.8208],
        [ 167.8477],
        [ 169.9143],
        [ 166.2809],
        [ 183.5592],
        [ 174.4344],
        [ 178.6741],
        [ 407.1182],
        [ 157.1020],
        [ 173.2861],
        [ 167.5733],
        [ 166.8873],
        [ 179.3707],
        [ 184.5909],
        [ 182.7183],
        [ 175.6280],
        [  14.0436],
        [ 178.5186],
        [ 188.6093],
        [ 418.4202],
        [ 164.7084],
        [ 189.3712],
        [ 177.0366],
        [ 240.8539],
        [ 194.1920],
        [ 216.1862],
        [ 165.0175],
        [ 190.7509],
        [ 188.9979],
        [ 163.8276],
        [ 162.5457],
        [ 174.0509],
        [ 157.0134],
        [ 191.8962],
        [ 151.0801],
        [ 202.7683],
        [ 151.5477],
        [ 163.7398],
        [ 226.4780],
        [ 180.2458],
        [ 168.7626],
        [ 248.8743],
        [ 164.9843],
        [ 156.3178],
        [ 154.8723],
        [ 202.0974],
        [ 200.5398],
        [ 216.1974],
        [ 196.2693],
        [ 153.8965],
        [ 207.9044],
        [ 156.6880],
        [ 159.1077],
        [ 166.0452],
        [ 412.0772],
        [ 163.2076],
        [ 169.4045],
        [ 225.4070],
        [ 165.7482],
        [ 182.6508],
        [ 197.9718],
        [ 158.3735],
        [ 195.0264],
        [ 153.1072],
        [ 162.5484],
        [ 198.6685],
        [ 163.6619],
        [ 191.4265],
        [ 167.3975],
        [ 409.7216],
        [ 161.3094],
        [ 193.1203],
        [ 165.0745],
        [ 167.5460],
        [ 258.1347],
        [ 155.9259],
        [ 155.6718],
        [ 178.4137],
        [ 167.4735],
        [ 158.6462],
        [ 193.5617],
        [ 178.8032],
        [ 163.7792],
        [ 159.6098],
        [ 183.1720],
        [ 188.0907],
        [ 156.8859],
        [ 165.7174],
        [ 156.6410],
        [ 219.4915],
        [ 196.7933],
        [ 163.8684],
        [ 171.2263],
        [ 259.7397],
        [ 179.2480],
        [  91.0094],
        [ -45.0415],
        [ 179.1535],
        [ 151.7861],
        [ 180.1982],
        [ 191.3110],
        [-675.6843],
        [ 163.7218],
        [ 168.9378],
        [ 170.4355],
        [ 163.6494],
        [ 219.9375],
        [ 151.1050],
        [ 174.3839],
        [ 188.0062],
        [ 117.8108],
        [ 183.3105],
        [ 175.5151],
        [ 167.5343],
        [ 178.3120],
        [ 201.4137],
        [ 150.1485],
        [ 206.3065],
        [ 183.0227],
        [ 185.5361],
        [ 192.6721],
        [ 165.4341],
        [ 167.1697],
        [ 184.4408],
        [ 183.8140],
        [ 158.1912],
        [ 185.1671],
        [ 189.7791],
        [ 176.5494],
        [ 158.3110],
        [ 190.3699],
        [ 159.0603],
        [ 188.0971],
        [ 197.6126],
        [ 154.4867],
        [ 188.0676],
        [ 158.0422],
        [ 174.8670],
        [ 152.9663],
        [ 157.6656],
        [ 189.1822],
        [ 194.2390],
        [ 175.8429],
        [ 192.4287],
        [ 180.5845],
        [ 162.5342],
        [ 208.9975],
        [ 174.6890],
        [ 196.7722],
        [ 184.7253],
        [ 176.1238],
        [ 171.5067],
        [ 206.1050],
        [ 199.3428]], grad_fn=<AddmmBackward0>)

In [12]:
submission = pd.DataFrame({
    'id': X_test.index,
    'SalePrice': y_pred.detach().numpy().squeeze()
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

     id   SalePrice
0   892  185.031723
1  1105  169.619202
2   413  194.840973
3   522  232.452682
4  1036  163.411804