In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests

## Data Collection

### Files sources

# URLs of the files
import requests
train_datas_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_datas_url, 'module4_exercise_train.zip')
download_file(test_data_url, 'Neighborhood_Market_data.csv')

#### CityMart

In [2]:
# read "CityMart_data.csv"
df_city_mart=pd.read_csv("CityMart_data.csv", sep=",",index_col='item_code')
df_city_mart.head()

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323,25877.199625,253,202,2023-01-19
P0024,CityMart,3.30,59.23,34.99,21.78,321,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.60,16.90,60.12,291,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312,181270.870165,968,203,2023-02-08

#### Greenfield_Grocers

In [3]:
# read "Greenfield_Grocers_data.csv"

df_grennfield_grocers=pd.read_csv("Greenfield_Grocers_data.csv", sep="|",header=3,  index_col="ITEM_CODE" )
df_grennfield_grocers.drop([ "1",'Unnamed: 12'], axis=1, inplace=True)
df_grennfield_grocers.columns = [col.lower() for col in df_grennfield_grocers.columns]
df_grennfield_grocers.rename_axis(df_grennfield_grocers.index.name.lower(), inplace=True)
df_grennfield_grocers.head()

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.180384,450,130,2023-01-06
P0014,Greenfield_Grocers,9.91,21.67,54.91,84.80,99,100903.494560,827,118,2023-01-14
P0016,Greenfield_Grocers,1.13,60.03,97.39,90.00,348,526168.953000,981,136,2023-01-16
P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.956576,289,155,2023-01-21
P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28

#### Outlet_data

In [4]:
# read "SuperSaver_Outlet_data.xlsx"

df_outlet_data=  pd.read_excel("SuperSaver_Outlet_data.xlsx", sheet_name=None)
df_outlet_data
#df_outlet_data.set_index('item_code', inplace=True)
#df_outlet_data.head()

{'Quantity':     item_code  quantity_sold
 0       P0003            198
 1       P0007            211
 2       P0008            200
 3       P0009            209
 4       P0012            186
 ..        ...            ...
 374     P1976            236
 375     P1980            192
 376     P1986            193
 377     P1993            185
 378     P2000            250

 [379 rows x 2 columns],
 'Info':     Unnamed: 0          item code  store name   mass  dimension length  \
 0        P0003  SuperSaver_Outlet        2.40  50.90              8.80
 1        P0007  SuperSaver_Outlet        9.88  43.65             48.64
 2        P0008  SuperSaver_Outlet        1.45  36.18             10.23
 3        P0009  SuperSaver_Outlet        6.98  48.13             45.55
 4        P0012  SuperSaver_Outlet        7.20  23.66             65.90
 ..         ...                ...         ...    ...               ...
 374      P1976  SuperSaver_Outlet        5.10  62.99             49.16
 375      P1980  SuperSaver_Outlet        4.93  74.91             53.25
 376      P1986  SuperSaver_Outlet        4.24  31.52             73.46
 377      P1993  SuperSaver_Outlet        3.21  97.68             39.88
 378      P2000  SuperSaver_Outlet        4.94  98.34             72.87

      dimension width  dimension height  days_since last_purchase  \
 0              68.82               337              30825.854400
 1              55.78                16             118428.526080
 2              69.14               315              25590.193596
 3              44.66               295              97909.078190
 4              12.05                40              18788.287700
 ..               ...               ...                       ...
 374            65.56               293             203012.335504
 375            52.95               285             211215.299625
 376            55.73               330             129040.541216
 377            43.20               293             168284.666880
 378            75.57               142             541537.325406

      package volume  stock age
 0               277        NaN
 1               291        NaN
 2               169        NaN
 3               443        NaN
 4                45        NaN
 ..              ...        ...
 374             464        NaN
 375             163        NaN
 376             755        NaN
 377             889        NaN
 378             860        NaN

 [379 rows x 10 columns]}

In [5]:
df_outlet_data['Info'].drop('stock age', axis=1, inplace=True)
df_outlet_data

{'Quantity':     item_code  quantity_sold
 0       P0003            198
 1       P0007            211
 2       P0008            200
 3       P0009            209
 4       P0012            186
 ..        ...            ...
 374     P1976            236
 375     P1980            192
 376     P1986            193
 377     P1993            185
 378     P2000            250

 [379 rows x 2 columns],
 'Info':     Unnamed: 0          item code  store name   mass  dimension length  \
 0        P0003  SuperSaver_Outlet        2.40  50.90              8.80
 1        P0007  SuperSaver_Outlet        9.88  43.65             48.64
 2        P0008  SuperSaver_Outlet        1.45  36.18             10.23
 3        P0009  SuperSaver_Outlet        6.98  48.13             45.55
 4        P0012  SuperSaver_Outlet        7.20  23.66             65.90
 ..         ...                ...         ...    ...               ...
 374      P1976  SuperSaver_Outlet        5.10  62.99             49.16
 375      P1980  SuperSaver_Outlet        4.93  74.91             53.25
 376      P1986  SuperSaver_Outlet        4.24  31.52             73.46
 377      P1993  SuperSaver_Outlet        3.21  97.68             39.88
 378      P2000  SuperSaver_Outlet        4.94  98.34             72.87

      dimension width  dimension height  days_since last_purchase  \
 0              68.82               337              30825.854400
 1              55.78                16             118428.526080
 2              69.14               315              25590.193596
 3              44.66               295              97909.078190
 4              12.05                40              18788.287700
 ..               ...               ...                       ...
 374            65.56               293             203012.335504
 375            52.95               285             211215.299625
 376            55.73               330             129040.541216
 377            43.20               293             168284.666880
 378            75.57               142             541537.325406

      package volume
 0               277
 1               291
 2               169
 3               443
 4                45
 ..              ...
 374             464
 375             163
 376             755
 377             889
 378             860

 [379 rows x 9 columns]}

In [6]:
df_outlet_data['Info'].columns=["item_code",
    "store_name",
    "mass",
    "dimension_length",
    "dimension_width",
    "dimension_height",
    "days_since_last_purchase",
    "package_volume",
    "stock_age"
]

df_outlet_data=pd.merge(df_outlet_data['Quantity'], df_outlet_data['Info'], left_on = 'item_code' , right_on = 'item_code')

df_outlet_data=df_outlet_data[['item_code',
    "store_name",
    "quantity_sold",
    "mass",
    "dimension_length",
    "dimension_width",
    "dimension_height",
    "days_since_last_purchase",
    "package_volume",
    "stock_age"]]

df_outlet_data.set_index('item_code', inplace=True)
df_outlet_data.head()

,store_name,quantity_sold,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age
item_code,,,,,,,,,
P0003,SuperSaver_Outlet,198,2.40,50.90,8.80,68.82,337,30825.854400,277
P0007,SuperSaver_Outlet,211,9.88,43.65,48.64,55.78,16,118428.526080,291
P0008,SuperSaver_Outlet,200,1.45,36.18,10.23,69.14,315,25590.193596,169
P0009,SuperSaver_Outlet,209,6.98,48.13,45.55,44.66,295,97909.078190,443
P0012,SuperSaver_Outlet,186,7.20,23.66,65.90,12.05,40,18788.287700,45

#### HighStreet_Bazaar

In [7]:
# read 'HighStreet_Bazaar_data.json'
df_highstreet_bazar=pd.read_json('HighStreet_Bazaar_data.json', orient='records')
df_highstreet_bazar.set_index('item_code', inplace=True)
df_highstreet_bazar
df_highstreet_bazar.head()

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0001,HighStreet_Bazaar,6.11,75.46,91.62,92.08,78.0,636608.450016,237,346,1672531200000
P0011,HighStreet_Bazaar,4.34,16.97,93.21,54.58,344.0,86333.208546,184,218,1673395200000
P0015,HighStreet_Bazaar,1.37,58.93,11.28,73.87,344.0,49103.634648,946,315,1673740800000
P0017,HighStreet_Bazaar,7.27,51.51,39.21,16.17,138.0,32658.663807,268,228,1673913600000
P0020,HighStreet_Bazaar,0.89,57.50,69.84,6.12,333.0,24576.696000,396,228,1674172800000

In [8]:
data = pd.concat([df_city_mart, df_grennfield_grocers, df_outlet_data,df_highstreet_bazar], axis=0)
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

#### Aggregate

#### Simple baseline

In [9]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    
    data = data.copy()
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(drop_cols, axis=1, inplace=True)
        if X_data_test is not None:
            X_data_test.drop(drop_cols, axis=1, inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(target_col, axis=1)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression()
    elif model == 'random_forest':
        model = RandomForestClassifier()
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    
    # Return the average score
    return np.mean(scores)

In [10]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

np.float64(45.04056766700087)

### API sources

In [11]:
def get_api(endpoint_url):
    try:
        # Make the GET request to the mock API
        response = requests.get(endpoint_url)

        if response.status_code == 200:
            data = response.json()
            print(data["message"])
            return data['data']
        else:
            print(f"Failed to retrieve volume data. Status code: {response.status_code}")
    
    except Exception as e:
        print(f"An error occurred: {e}")
password = get_api("https://www.raphaelcousin.com/api/exercise/auth")["password"]
prices = get_api(f"https://www.raphaelcousin.com/api/exercise/{password}/prices")

Authentication successful
Volume data retrieved successfully

In [12]:
df_prices =pd.DataFrame.from_dict(prices, orient='index', columns=['prices'])
df_prices

       prices
P0001   22.14
P0002   26.91
P0003   16.90
P0004    7.04
P0005   20.84
...       ...
P1996   25.80
P1997   26.05
P1998   17.41
P1999    7.57
P2000   14.42

[2000 rows x 1 columns]

#### Aggregate

In [13]:
data = pd.merge(data, df_prices, left_index=True, right_index=True, how='left')
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,prices
item_code,,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19,17.86
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24,14.04
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25,3.38
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03,15.11
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08,14.20
...,...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000,15.85
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000,17.98
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000,17.75
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000,22.68
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000,20.48

In [14]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

np.float64(44.10144429622423)

### Scrapping sources

!pip install selenium

In [15]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
driver = webdriver.Chrome()  # Make sure ChromeDriver is installed
# driver = webdriver.Firefox()
# driver = webdriver.Edge()
# driver = webdriver.Safari()

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

# Scrape the second table (Exercise Data)
course_table = tables[1]
for row in course_table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    exercise_data.append({ 'item_code':cols[0].text ,
    'Customer Score': int(cols[1].text),
    'Total Reviews':int(cols[2].text)
     })
 




# Convert the lists to pandas DataFrames
df_exercise = pd.DataFrame(exercise_data)
df_exercise

     item_code  Customer Score  Total Reviews
0        P0001               2            972
1        P0002               3            260
2        P0003               2            285
3        P0004               5            512
4        P0005               3             85
...        ...             ...            ...
1995     P1996               5            512
1996     P1997               2            989
1997     P1998               2            440
1998     P1999               4             37
1999     P2000               4            701

[2000 rows x 3 columns]

In [16]:
df_exercise.set_index('item_code', inplace=True)
df_exercise.head()

           Customer Score  Total Reviews
item_code
P0001                   2            972
P0002                   3            260
P0003                   2            285
P0004                   5            512
P0005                   3             85

#### Aggregate

In [17]:
data = pd.merge(data, df_exercise, left_index=True, right_index=True, how='left')
data.head()

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,prices,Customer Score,Total Reviews
item_code,,,,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19,17.86,1,948
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24,14.04,3,436
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25,3.38,5,703
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03,15.11,2,935
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08,14.20,2,188

In [18]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

np.float64(40.02769508950211)

### Generating Submission File

In [19]:
# X_test =  read  Neighborhood_Market_data

# read
df_StoreN =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified
item_code,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13
...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21

In [20]:
df_StoreN = pd.merge(df_StoreN, df_prices, left_index=True, right_index=True, how='left')
df_StoreN = pd.merge(df_StoreN, df_exercise, left_index=True, right_index=True, how='left')
df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified,prices,Customer Score,Total Reviews
item_code,,,,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02,26.91,3,260
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04,7.04,5,512
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05,20.84,3,85
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10,10.00,2,709
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13,12.98,3,984
...,...,...,...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25,15.88,2,854
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30,16.21,1,991
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13,15.32,1,572
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19,26.05,2,989
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21,7.57,4,37

In [21]:
 _, x_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN)

In [22]:
_,x_pred

(np.float64(40.02769508950211),
 array([160.69791741, 244.75235981, 159.97446231, 227.49906711,
        241.32803691, 199.15468505, 181.89867296, 184.82447983,
        196.01119833, 195.93514238, 225.56770118, 200.57373072,
        227.85006606, 216.89160291, 231.56978156, 205.72713312,
        205.99021879, 177.17330025, 230.95072376, 205.02198978,
        216.86309161, 164.67185805, 245.94539069, 186.53312434,
        210.04947981, 160.33533258, 294.69489181, 210.76937999,
        163.48276227, 175.50869395, 213.75270967, 244.03043876,
        180.94061676, 193.70159209, 238.26273334, 216.67167061,
        204.64310589, 184.69598662, 253.48650797, 191.95866868,
        197.47338964, 170.5081523 , 179.43702396, 154.23158107,
        181.13125676, 200.6007    , 275.42957861, 197.69668842,
        182.85776304, 191.05223086, 232.40245984, 204.15891691,
        216.85044109, 173.05951501, 215.37876993, 212.63204961,
        167.4375182 , 219.82974481, 210.16810078, 154.4190366 ,
        175.44167378, 217.90096527, 163.63804746, 206.24371087,
        151.7879123 , 192.52806358, 250.36146355, 215.08932978,
        232.46372479, 182.22191603, 245.76493336, 168.53097759,
        156.60323922, 205.76544973, 206.91094411, 185.96974035,
        184.59175361, 201.11277687, 204.97936928, 203.29774205,
        218.29347772, 172.93580059, 156.7064373 , 193.12607432,
        291.4199093 , 161.87680058, 176.76392558, 220.13177911,
        202.51913774, 202.85883225, 201.60139367, 180.42315904,
        183.10664963, 202.28632081, 239.94216716, 221.36127691,
        131.28805202, 199.97511039, 179.76889812, 174.75989786,
        193.09565387, 203.12485223, 209.84677241, 193.45730725,
        215.55479611, 155.8933896 , 230.69805775, 171.99514343,
        176.59837167, 207.03936978, 214.98208165, 134.79414285,
        227.96057478, 223.54169402, 204.56098738, 239.06674863,
        186.43667212, 209.56824542, 242.74905674, 144.80201499,
        175.90208873, 203.61001657, 248.4641469 , 234.1037017 ,
        131.18405897, 224.54438841, 221.10450663, 172.31589858,
        242.19036674, 198.12722629, 199.46986401, 197.19765613,
        244.81183664, 184.80434346, 181.37673534, 211.08140576,
        215.64643014, 156.9432012 , 216.24819062, 187.33206866,
        154.32253052, 184.9937843 , 247.00268757, 204.7013491 ,
        237.92540347, 232.1068862 , 190.24076284, 191.59418756,
        155.19825014, 236.48472465, 188.76811417, 125.48824602,
        228.17724128, 172.20361361, 205.56080362, 213.62817385,
        183.71914183, 167.89660631, 230.13503814, 229.51321057,
        239.95934109, 175.16264787, 212.51837571, 152.53915512,
        220.20802852, 183.87039926, 203.95821403, 204.58835809,
        227.59525467, 185.35475728, 168.72515282, 178.1160473 ,
        171.64598642, 207.66633159, 170.45418302, 205.31450263,
        196.67623597, 143.58481438, 152.32481401, 232.81689186,
        179.80619907, 218.93417243, 223.39768293, 191.80349774,
        255.03646082, 179.92294862, 190.56545918, 219.04967858,
        172.87064127, 162.07857202, 210.02561154, 220.59738108,
        171.17382394, 179.88087339, 161.4166036 , 211.11748235,
        193.53418593, 199.17674155, 169.08260679, 167.61172843,
        164.53706026, 195.6031437 , 178.4982057 , 224.04163361,
        220.05916046, 234.11384412, 214.7167872 , 184.42224662,
        221.12596016, 209.05466373, 213.17295205, 253.12523097,
        198.07067677, 206.03909733, 233.04481673, 174.30559391,
        220.54320174, 166.00823614, 181.26824837, 164.81630005,
        172.87944365, 200.16881169, 147.3759052 , 203.72977254,
        180.59515912, 224.17004523, 200.05188853, 185.09551359,
        200.12002558, 220.15022303, 218.24097246, 176.74792492,
        211.92430934, 190.8070724 , 208.27567468, 199.71196262,
        176.94892316, 254.35561342, 186.52131225, 196.91488118,
        155.82993398, 166.19829362, 168.7521973 , 156.95292452,
        161.02750791, 236.98602495, 203.11181491, 199.85296558,
        170.62446529, 205.6993478 , 218.26580528, 217.23111429,
        193.39537186, 220.9515049 , 182.60954086, 197.59612316,
        193.8390606 , 187.66283637, 171.72180963, 195.15205286,
        166.78369627, 210.83612685, 150.63146728, 230.27253727,
        169.78917262, 230.32981112, 142.1115143 , 238.23055081,
        195.30040786, 256.05807386, 185.84494413, 216.06568098,
        158.85559221, 190.63798704, 203.61923285, 154.52809113,
        225.56198223, 175.54564973, 247.53887328, 210.37085302,
        212.57942303, 187.20233764, 177.36837198, 233.96705936,
        180.03598906, 195.7048748 , 228.32643361, 175.83726791,
        159.64727259, 220.50011438, 279.55049267, 179.4319901 ,
        238.78279982, 218.85798668, 182.77260905, 188.78422376,
        170.24569892, 149.21168884, 178.53776105, 229.93329742,
        204.65526162, 209.76642363, 157.90052364, 205.55043008,
        239.86394549, 194.06640117, 192.12900588, 154.07457022,
        191.90248363, 203.12843902, 150.98243533, 174.25043894,
        165.4213533 , 180.87119876, 234.97674875, 214.45013581,
        144.80243084, 185.4210452 , 238.89702762, 217.20245238,
        208.42909645, 173.87835446, 180.53245067, 199.15551757,
        237.36577783, 162.56556884, 185.73082787, 190.59137397,
        165.26141913, 227.27204167, 211.75227371, 174.6275179 ,
        238.58756177, 152.34967326, 172.10751896, 232.09598946,
        165.10603332, 185.74522625, 258.00413769, 205.27564039,
        195.74329834, 152.47380231, 171.41977641, 163.78210983,
        191.77835781, 188.94446052, 234.53567074, 234.94756205,
        154.06107771, 200.08434287, 228.38463928, 206.50624133,
        213.00993563, 164.72680401, 163.35825702, 231.08236362,
        212.23582309, 169.91393861, 213.08974198, 192.14759959,
        201.71366466, 149.3180637 , 225.14244466, 197.24663108,
        177.84381247, 201.85204321, 232.35178908, 168.23593887,
        211.37826505, 233.94553504, 207.31557508, 207.02523914,
        191.7705479 , 189.79287732, 207.13187986, 206.74202978,
        165.27545118, 213.89350573, 177.27765053, 204.65976875,
        276.0179112 , 200.33243036, 164.46488497, 220.58914964,
        205.65639716, 172.73671787, 206.2163491 , 176.91290409,
        209.92353005, 247.94023781, 240.13023715, 221.1344238 ,
        194.56794979, 149.97793427, 199.41622502, 134.7094898 ,
        208.12126025, 151.04758658, 168.78144555, 211.6618427 ,
        214.78168731, 217.28287799, 191.28914019, 192.82168241,
        205.98279706, 218.99932216, 218.84111274, 189.59462101,
        212.80411028]))

In [23]:
submission = pd.DataFrame({
    'item_code': df_StoreN.index,
    'quantity_sold': x_pred # your_prediction
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

  item_code  quantity_sold
0     P0002     160.697917
1     P0004     244.752360
2     P0005     159.974462
3     P0010     227.499067
4     P0013     241.328037