In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests

## Data Collection

### Files sources

In [2]:
# URLs of the files
train_datas_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_datas_url, 'module4_exercise_train.zip')
download_file(test_data_url, 'Neighborhood_Market_data.csv')

Downloaded module4_exercise_train.zip from https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip
Downloaded Neighborhood_Market_data.csv from https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv

In [3]:
import zipfile
import os
# Unzipping the training data
with zipfile.ZipFile('module4_exercise_train.zip', 'r') as zip_ref:
    zip_ref.extractall('module4_exercise_train')
print('Unzipped training data to module4_exercise_train/')

Unzipped training data to module4_exercise_train/

#### CityMart

In [4]:
# read "CityMart_data.csv"
citymart_data = pd.read_csv("module4_exercise_train/CityMart_data.csv", index_col=0, parse_dates=["last_modified"], dtype={"store_name": "category"})
#pd.read_csv('Neighborhood_Market_data.csv',index_col="item_code")

display(citymart_data)

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323,25877.199625,253,202,2023-01-19
P0024,CityMart,3.30,59.23,34.99,21.78,321,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.60,16.90,60.12,291,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...
P1984,CityMart,8.24,99.78,68.06,11.87,117,80609.488116,333,263,2028-06-06
P1989,CityMart,5.79,71.19,92.39,63.98,250,420812.077518,417,238,2028-06-11
P1992,CityMart,8.64,97.57,8.58,83.35,348,69776.502510,489,219,2028-06-14
P1996,CityMart,9.90,66.40,75.90,9.88,101,49792.828800,501,232,2028-06-18
P1998,CityMart,3.78,17.19,21.02,37.04,82,13383.803952,800,192,2028-06-20

In [5]:
citymart_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415 entries, P0019 to P1998
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                415 non-null    category
 1   mass                      415 non-null    float64
 2   dimension_length          415 non-null    float64
 3   dimension_width           415 non-null    float64
 4   dimension_height          415 non-null    float64
 5   days_since_last_purchase  415 non-null    int64
 6   package_volume            412 non-null    float64
 7   stock_age                 415 non-null    int64
 8   quantity_sold             415 non-null    int64
 9   last_modified             415 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(5), int64(3)
memory usage: 32.8+ KB

In [6]:
citymart_data.describe()

,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
count,415.000000,415.000000,415.00000,415.000000,415.000000,412.000000,415.000000,415.000000,415
mean,5.157928,53.145349,52.52906,51.932145,174.390361,149468.294206,512.893976,217.665060,2025-09-08 21:09:58.554216704
min,0.100000,5.400000,5.37000,5.040000,0.000000,1356.796496,1.000000,123.000000,2023-01-19 00:00:00
25%,2.760000,30.635000,28.63500,30.290000,78.500000,36069.651120,279.000000,195.000000,2024-05-06 12:00:00
50%,5.380000,53.870000,51.73000,51.270000,177.000000,100763.124275,524.000000,217.000000,2025-08-24 00:00:00
75%,7.600000,76.405000,75.90500,72.750000,261.000000,207696.302871,724.000000,240.500000,2027-01-03 00:00:00
max,9.990000,99.780000,99.11000,99.850000,364.000000,754043.219631,996.000000,325.000000,2028-06-20 00:00:00
std,2.848829,27.195911,26.78394,26.807918,106.790878,147972.258996,275.327654,33.531888,NaN

In [7]:
citymart_data.dtypes

store_name                        category
mass                               float64
dimension_length                   float64
dimension_width                    float64
dimension_height                   float64
days_since_last_purchase             int64
package_volume                     float64
stock_age                            int64
quantity_sold                        int64
last_modified               datetime64[ns]
dtype: object

#### Greenfield_Grocers

In [8]:
greenfield_data = pd.read_csv('module4_exercise_train/Greenfield_Grocers_data.csv',sep="|")

In [9]:
greenfield_data = pd.read_csv('module4_exercise_train/Greenfield_Grocers_data.csv',sep="|")
greenfield_data.columns = greenfield_data.iloc[2]  
greenfield_data.columns=list(greenfield_data.columns.str.lower())
greenfield_data=greenfield_data.drop([0,1,2])
greenfield_data=greenfield_data.set_index("item_code")
greenfield_data=greenfield_data[[              'store_name',                     'mass',
               'dimension_length',          'dimension_width',
               'dimension_height', 'days_since_last_purchase',
                 'package_volume',                'stock_age',
                  'quantity_sold',            'last_modified']]
display(greenfield_data)

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.18038400002,450,130,2023-01-06
P0014,Greenfield_Grocers,9.91,21.67,54.91,84.8,99,100903.49455999999,827,118,2023-01-14
P0016,Greenfield_Grocers,1.13,60.03,97.39,90.0,348,526168.953,981,136,2023-01-16
P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.95657599997,289,155,2023-01-21
P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28
...,...,...,...,...,...,...,...,...,...,...
P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.63402300002,31,154,2028-06-05
P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07
P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757867999997,770,162,2028-06-10
P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12
P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17

In [10]:
greenfield_data.info()
greenfield_data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 401 entries, P0006 to P1995
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                401 non-null    object
 1   mass                      401 non-null    object
 2   dimension_length          398 non-null    object
 3   dimension_width           401 non-null    object
 4   dimension_height          401 non-null    object
 5   days_since_last_purchase  401 non-null    object
 6   package_volume            401 non-null    object
 7   stock_age                 401 non-null    object
 8   quantity_sold             401 non-null    object
 9   last_modified             401 non-null    object
dtypes: object(10)
memory usage: 34.5+ KB

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
count,401,401,398,401,401,401,401,401,401,401
unique,1,331,386,391,393,249,401,325,117,401
top,Greenfield_Grocers,3.75,56.33,44.04,55.33,94,101964.18038400002,870,127,2023-01-06
freq,401,4,3,2,2,4,1,3,14,1

In [11]:

greenfield_data.dtypes
print(greenfield_data.columns)
# conversion auto de toutes les colonnes numériques possibles
for col in [ 'mass', 'dimension_length', 'dimension_width',
       'dimension_height', 'days_since_last_purchase', 'package_volume',
       'stock_age', 'quantity_sold']:
    greenfield_data[col] = pd.to_numeric(greenfield_data[col], errors="ignore")
greenfield_data.dtypes

Index(['store_name', 'mass', 'dimension_length', 'dimension_width',
       'dimension_height', 'days_since_last_purchase', 'package_volume',
       'stock_age', 'quantity_sold', 'last_modified'],
      dtype='object')

/var/folders/kz/yn6r06915yl8rm1zpm_51j800000gn/T/ipykernel_34333/625288565.py:7: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  greenfield_data[col] = pd.to_numeric(greenfield_data[col], errors="ignore")

store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase      int64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                object
dtype: object

#### Outlet_data

In [12]:
# read "SuperSaver_Outlet_data.xlsx"
supersaver_data = pd.read_excel('module4_exercise_train/SuperSaver_Outlet_data.xlsx',sheet_name=None)

supersaver_data_quantity = supersaver_data["Quantity"]
supersaver_data_info = supersaver_data["Info"]
display(supersaver_data_info)
display(supersaver_data_quantity)

,Unnamed: 0,item code,store name,mass,dimension length,dimension width,dimension height,days_since last_purchase,package volume,stock age
0,P0003,SuperSaver_Outlet,2.40,50.90,8.80,68.82,337,30825.854400,277,NaN
1,P0007,SuperSaver_Outlet,9.88,43.65,48.64,55.78,16,118428.526080,291,NaN
2,P0008,SuperSaver_Outlet,1.45,36.18,10.23,69.14,315,25590.193596,169,NaN
3,P0009,SuperSaver_Outlet,6.98,48.13,45.55,44.66,295,97909.078190,443,NaN
4,P0012,SuperSaver_Outlet,7.20,23.66,65.90,12.05,40,18788.287700,45,NaN
...,...,...,...,...,...,...,...,...,...,...
374,P1976,SuperSaver_Outlet,5.10,62.99,49.16,65.56,293,203012.335504,464,NaN
375,P1980,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285,211215.299625,163,NaN
376,P1986,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330,129040.541216,755,NaN
377,P1993,SuperSaver_Outlet,3.21,97.68,39.88,43.20,293,168284.666880,889,NaN
378,P2000,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142,541537.325406,860,NaN

    item_code  quantity_sold
0       P0003            198
1       P0007            211
2       P0008            200
3       P0009            209
4       P0012            186
..        ...            ...
374     P1976            236
375     P1980            192
376     P1986            193
377     P1993            185
378     P2000            250

[379 rows x 2 columns]

In [13]:
supersaver_data_info.columns=['item code', 'store name', 'mass', 'dimension length', 'dimension width', 'dimension height', 'days_since last_purchase', 'package volume', 'stock age','suppp']
supersaver_data_info=supersaver_data_info[['item code', 'store name', 'mass', 'dimension length', 'dimension width', 'dimension height', 'days_since last_purchase', 'package volume', 'stock age']]

# Normaliser les noms de colonnes (remplacer espaces par underscore)
supersaver_data_info.columns = [c.strip().replace(" ", "_") for c in supersaver_data_info.columns]
supersaver_data_quantity.columns = [c.strip().replace(" ", "_") for c in supersaver_data_quantity.columns]

display(supersaver_data_info)

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age
0,P0003,SuperSaver_Outlet,2.40,50.90,8.80,68.82,337,30825.854400,277
1,P0007,SuperSaver_Outlet,9.88,43.65,48.64,55.78,16,118428.526080,291
2,P0008,SuperSaver_Outlet,1.45,36.18,10.23,69.14,315,25590.193596,169
3,P0009,SuperSaver_Outlet,6.98,48.13,45.55,44.66,295,97909.078190,443
4,P0012,SuperSaver_Outlet,7.20,23.66,65.90,12.05,40,18788.287700,45
...,...,...,...,...,...,...,...,...,...
374,P1976,SuperSaver_Outlet,5.10,62.99,49.16,65.56,293,203012.335504,464
375,P1980,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285,211215.299625,163
376,P1986,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330,129040.541216,755
377,P1993,SuperSaver_Outlet,3.21,97.68,39.88,43.20,293,168284.666880,889
378,P2000,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142,541537.325406,860

In [14]:
display(supersaver_data_quantity)

    item_code  quantity_sold
0       P0003            198
1       P0007            211
2       P0008            200
3       P0009            209
4       P0012            186
..        ...            ...
374     P1976            236
375     P1980            192
376     P1986            193
377     P1993            185
378     P2000            250

[379 rows x 2 columns]

In [15]:
supersaver_data_final = supersaver_data_info.merge(
    supersaver_data_quantity,
    on="item_code",   # clé commune
    how="left"        # on garde tous les items du DataFrame "info"
)
supersaver_data_final = supersaver_data_final.set_index("item_code")

display(supersaver_data_final)
print(supersaver_data_final.shape)

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold
item_code,,,,,,,,,
P0003,SuperSaver_Outlet,2.40,50.90,8.80,68.82,337,30825.854400,277,198
P0007,SuperSaver_Outlet,9.88,43.65,48.64,55.78,16,118428.526080,291,211
P0008,SuperSaver_Outlet,1.45,36.18,10.23,69.14,315,25590.193596,169,200
P0009,SuperSaver_Outlet,6.98,48.13,45.55,44.66,295,97909.078190,443,209
P0012,SuperSaver_Outlet,7.20,23.66,65.90,12.05,40,18788.287700,45,186
...,...,...,...,...,...,...,...,...,...
P1976,SuperSaver_Outlet,5.10,62.99,49.16,65.56,293,203012.335504,464,236
P1980,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285,211215.299625,163,192
P1986,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330,129040.541216,755,193
P1993,SuperSaver_Outlet,3.21,97.68,39.88,43.20,293,168284.666880,889,185
P2000,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142,541537.325406,860,250

(379, 9)

In [16]:

supersaver_data_final.dtypes
# conversion auto de toutes les colonnes numériques possibles
for col in supersaver_data_final.columns:
    supersaver_data_final[col] = pd.to_numeric(supersaver_data_final[col], errors="ignore")
supersaver_data_final.dtypes

/var/folders/kz/yn6r06915yl8rm1zpm_51j800000gn/T/ipykernel_34333/2630431886.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  supersaver_data_final[col] = pd.to_numeric(supersaver_data_final[col], errors="ignore")

store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase      int64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
dtype: object

#### HighStreet_Bazaar

In [17]:
# read 'HighStreet_Bazaar_data.json'
highstreet_data = pd.read_json('module4_exercise_train/HighStreet_Bazaar_data.json')
highstreet_data=highstreet_data.set_index("item_code")
display(highstreet_data)

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0001,HighStreet_Bazaar,6.11,75.46,91.62,92.08,78.0,636608.450016,237,346,1672531200000
P0011,HighStreet_Bazaar,4.34,16.97,93.21,54.58,344.0,86333.208546,184,218,1673395200000
P0015,HighStreet_Bazaar,1.37,58.93,11.28,73.87,344.0,49103.634648,946,315,1673740800000
P0017,HighStreet_Bazaar,7.27,51.51,39.21,16.17,138.0,32658.663807,268,228,1673913600000
P0020,HighStreet_Bazaar,0.89,57.50,69.84,6.12,333.0,24576.696000,396,228,1674172800000
...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

In [18]:
highstreet_data.dtypes

store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase    float64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                 int64
dtype: object

#### Aggregate

In [19]:

#display(citymart_data)
#print(citymart_data.columns)
print(citymart_data.dtypes)

#display(greenfield_data)
#print(greenfield_data.columns)
print(greenfield_data.dtypes)

#display(supersaver_data_final)
#print(supersaver_data_final.columns)
print(supersaver_data_final.dtypes)

#display(highstreet_data)
#print(highstreet_data.columns)
print(highstreet_data.dtypes)

store_name                        category
mass                               float64
dimension_length                   float64
dimension_width                    float64
dimension_height                   float64
days_since_last_purchase             int64
package_volume                     float64
stock_age                            int64
quantity_sold                        int64
last_modified               datetime64[ns]
dtype: object
store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase      int64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                object
dtype: object
store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase      int64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
dtype: object
store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase    float64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                 int64
dtype: object

In [20]:
#display(citymart_data)
#print(citymart_data.columns)
print(citymart_data.dtypes)

#display(greenfield_data)
#print(greenfield_data.columns)
print(greenfield_data.dtypes)

#display(supersaver_data_final)
#print(supersaver_data_final.columns)
print(supersaver_data_final.dtypes)

#display(highstreet_data)
#print(highstreet_data.columns)
print(highstreet_data.dtypes)

store_name                        category
mass                               float64
dimension_length                   float64
dimension_width                    float64
dimension_height                   float64
days_since_last_purchase             int64
package_volume                     float64
stock_age                            int64
quantity_sold                        int64
last_modified               datetime64[ns]
dtype: object
store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase      int64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                object
dtype: object
store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase      int64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
dtype: object
store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase    float64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                 int64
dtype: object

In [21]:
data = pd.concat([citymart_data, greenfield_data, supersaver_data_final, highstreet_data], axis=0)
# Supposons que ton DataFrame s'appelle df
display(data)

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19 00:00:00
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24 00:00:00
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25 00:00:00
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03 00:00:00
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08 00:00:00
...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

In [22]:
data.columns

Index(['store_name', 'mass', 'dimension_length', 'dimension_width',
       'dimension_height', 'days_since_last_purchase', 'package_volume',
       'stock_age', 'quantity_sold', 'last_modified'],
      dtype='object')

In [23]:
print("citymart_data shape:", citymart_data.shape)
print("greenfield_data shape:", greenfield_data.shape)
print("supersaver_data_final shape:", supersaver_data_final.shape)
print("highstreet_data shape:", highstreet_data.shape)

print("\nComposition de data par store_name:")
print(data['store_name'].value_counts())

print("\nNb de lignes sans cible (quantity_sold) dans data:")
print(data['quantity_sold'].isna().sum())

citymart_data shape: (415, 10)
greenfield_data shape: (401, 10)
supersaver_data_final shape: (379, 9)
highstreet_data shape: (396, 10)

Composition de data par store_name:
store_name
CityMart              415
Greenfield_Grocers    401
HighStreet_Bazaar     396
SuperSaver_Outlet     379
Name: count, dtype: int64

Nb de lignes sans cible (quantity_sold) dans data:
0

In [24]:
data.dtypes

store_name                   object
mass                        float64
dimension_length            float64
dimension_width             float64
dimension_height            float64
days_since_last_purchase    float64
package_volume              float64
stock_age                     int64
quantity_sold                 int64
last_modified                object
dtype: object

#### Simple baseline

In [25]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    
    data = data.copy()
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(drop_cols, axis=1, inplace=True)
        if X_data_test is not None:
            X_data_test.drop(drop_cols, axis=1, inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(target_col, axis=1)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression()
    elif model == 'random_forest':
        model = RandomForestClassifier()
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    
    # Return the average score
    return np.mean(scores)

In [26]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

np.float64(45.04056766700087)

### API sources

In [27]:
def get_api(endpoint_url):
    try:
        # Make the GET request to the mock API
        response = requests.get(endpoint_url)

        if response.status_code == 200:
            data = response.json()
            print(data["message"])
            return data['data']
        else:
            print(f"Failed to retrieve volume data. Status code: {response.status_code}")
    
    except Exception as e:
        print(f"An error occurred: {e}")
password = get_api("https://www.raphaelcousin.com/api/exercise/auth")
print(password)
link=str("https://www.raphaelcousin.com/api/exercise/"+password["password"]+"/prices")

prices = get_api(link)

Authentication successful
{'description': 'This data is for the authenticated course access.', 'password': 'RcUZjhdsYLRzwi4'}
Volume data retrieved successfully

In [28]:
print(prices)

{'P0001': 22.14, 'P0002': 26.91, 'P0003': 16.9, 'P0004': 7.04, 'P0005': 20.84, 'P0006': 15.53, 'P0007': 14.46, 'P0008': 11.72, 'P0009': 14.7, 'P0010': 10.0, 'P0011': 16.85, 'P0012': 27.74, 'P0013': 12.98, 'P0014': 28.94, 'P0015': 16.73, 'P0016': 15.1, 'P0017': 17.03, 'P0018': 13.88, 'P0019': 17.86, 'P0020': 18.05, 'P0021': 3.35, 'P0022': 32.19, 'P0023': 6.95, 'P0024': 14.04, 'P0025': 3.38, 'P0026': 15.47, 'P0027': 13.09, 'P0028': 15.06, 'P0029': 16.91, 'P0030': 17.79, 'P0031': 18.9, 'P0032': 11.54, 'P0033': 19.79, 'P0034': 15.11, 'P0035': 15.84, 'P0036': 18.01, 'P0037': 14.18, 'P0038': 17.84, 'P0039': 14.2, 'P0040': 23.8, 'P0041': 21.45, 'P0042': 19.16, 'P0043': 16.14, 'P0044': 14.83, 'P0045': 23.21, 'P0046': 23.08, 'P0047': 21.37, 'P0048': 16.76, 'P0049': 18.46, 'P0050': 23.64, 'P0051': 10.9, 'P0052': 12.33, 'P0053': 20.17, 'P0054': 10.6, 'P0055': 9.26, 'P0056': 24.86, 'P0057': 26.38, 'P0058': 10.31, 'P0059': 9.87, 'P0060': 12.54, 'P0061': 26.23, 'P0062': 17.59, 'P0063': 18.2, 'P0064': 20.84, 'P0065': 18.5, 'P0066': 25.61, 'P0067': 11.89, 'P0068': 18.28, 'P0069': 16.84, 'P0070': 18.9, 'P0071': 12.82, 'P0072': 11.2, 'P0073': 7.76, 'P0074': 20.18, 'P0075': 12.25, 'P0076': 19.18, 'P0077': 15.92, 'P0078': 14.82, 'P0079': 13.04, 'P0080': 17.23, 'P0081': 17.4, 'P0082': 19.73, 'P0083': 15.74, 'P0084': 13.37, 'P0085': 20.15, 'P0086': 24.61, 'P0087': 10.58, 'P0088': 15.27, 'P0089': 19.03, 'P0090': 20.74, 'P0091': 18.65, 'P0092': 16.95, 'P0093': 8.88, 'P0094': 27.75, 'P0095': 24.76, 'P0096': 18.92, 'P0097': 14.75, 'P0098': 14.11, 'P0099': 16.6, 'P0100': 15.79, 'P0101': 15.84, 'P0102': 26.54, 'P0103': 21.38, 'P0104': 14.03, 'P0105': 18.61, 'P0106': 16.52, 'P0107': 17.19, 'P0108': 19.0, 'P0109': 34.46, 'P0110': 19.61, 'P0111': 17.38, 'P0112': 28.05, 'P0113': 16.94, 'P0114': 9.95, 'P0115': 16.4, 'P0116': 18.84, 'P0117': 19.29, 'P0118': 20.41, 'P0119': 15.95, 'P0120': 16.14, 'P0121': 12.8, 'P0122': 25.41, 'P0123': 18.3, 'P0124': 12.29, 'P0125': 29.73, 'P0126': 25.96, 'P0127': 14.99, 'P0128': 6.17, 'P0129': 14.63, 'P0130': 24.02, 'P0131': 19.0, 'P0132': 11.52, 'P0133': 19.72, 'P0134': 14.31, 'P0135': 15.67, 'P0136': 14.46, 'P0137': 21.87, 'P0138': 22.71, 'P0139': 7.9, 'P0140': 20.33, 'P0141': 20.46, 'P0142': 14.13, 'P0143': 13.92, 'P0144': 11.32, 'P0145': 13.24, 'P0146': 17.0, 'P0147': 17.09, 'P0148': 18.09, 'P0149': 13.65, 'P0150': 23.52, 'P0151': 25.65, 'P0152': 18.06, 'P0153': 19.17, 'P0154': 20.94, 'P0155': 15.15, 'P0156': 19.98, 'P0157': 4.35, 'P0158': 6.11, 'P0159': 15.63, 'P0160': 19.18, 'P0161': 16.44, 'P0162': 20.83, 'P0163': 13.14, 'P0164': 23.09, 'P0165': 27.0, 'P0166': 11.62, 'P0167': 20.96, 'P0168': 17.55, 'P0169': 17.35, 'P0170': 24.47, 'P0171': 20.45, 'P0172': 19.55, 'P0173': 11.38, 'P0174': 19.78, 'P0175': 23.16, 'P0176': 11.63, 'P0177': 18.26, 'P0178': 22.45, 'P0179': 22.04, 'P0180': 10.67, 'P0181': 16.42, 'P0182': 16.1, 'P0183': 12.46, 'P0184': 26.01, 'P0185': 15.56, 'P0186': 22.38, 'P0187': 9.93, 'P0188': 19.6, 'P0189': 24.01, 'P0190': 16.19, 'P0191': 14.42, 'P0192': 10.48, 'P0193': 12.98, 'P0194': 16.67, 'P0195': 14.59, 'P0196': 15.94, 'P0197': 19.74, 'P0198': 18.0, 'P0199': 23.91, 'P0200': 13.41, 'P0201': 16.43, 'P0202': 17.12, 'P0203': 12.8, 'P0204': 17.93, 'P0205': 16.35, 'P0206': 19.46, 'P0207': 16.66, 'P0208': 25.62, 'P0209': 9.68, 'P0210': 23.36, 'P0211': 13.54, 'P0212': 16.67, 'P0213': 15.75, 'P0214': 22.23, 'P0215': 13.18, 'P0216': 15.13, 'P0217': 17.76, 'P0218': 6.98, 'P0219': 18.42, 'P0220': 11.42, 'P0221': 10.36, 'P0222': 6.92, 'P0223': 23.65, 'P0224': 19.49, 'P0225': 13.44, 'P0226': 15.7, 'P0227': 11.32, 'P0228': 16.2, 'P0229': 17.33, 'P0230': 16.28, 'P0231': 17.87, 'P0232': 6.51, 'P0233': 20.3, 'P0234': 10.21, 'P0235': 18.52, 'P0236': 14.09, 'P0237': 20.91, 'P0238': 16.47, 'P0239': 20.41, 'P0240': 13.02, 'P0241': 18.67, 'P0242': 6.75, 'P0243': 20.49, 'P0244': 24.28, 'P0245': 14.6, 'P0246': 19.5, 'P0247': 20.45, 'P0248': 9.92, 'P0249': 11.51, 'P0250': 15.79, 'P0251': 31.04, 'P0252': 21.73, 'P0253': 18.81, 'P0254': 21.93, 'P0255': 18.99, 'P0256': 21.72, 'P0257': 13.8, 'P0258': 25.17, 'P0259': 11.85, 'P0260': 13.15, 'P0261': 22.6, 'P0262': 17.89, 'P0263': 17.01, 'P0264': 21.39, 'P0265': 11.42, 'P0266': 27.31, 'P0267': 17.22, 'P0268': 15.8, 'P0269': 24.95, 'P0270': 12.48, 'P0271': 24.56, 'P0272': 17.17, 'P0273': 12.26, 'P0274': 17.17, 'P0275': 22.15, 'P0276': 24.31, 'P0277': 20.73, 'P0278': 8.31, 'P0279': 21.96, 'P0280': 16.62, 'P0281': 13.71, 'P0282': 20.39, 'P0283': 24.56, 'P0284': 18.33, 'P0285': 20.55, 'P0286': 20.06, 'P0287': 22.3, 'P0288': 18.16, 'P0289': 19.36, 'P0290': 20.44, 'P0291': 19.66, 'P0292': 17.08, 'P0293': 24.03, 'P0294': 18.04, 'P0295': 12.69, 'P0296': 17.3, 'P0297': 16.02, 'P0298': 7.8, 'P0299': 22.99, 'P0300': 33.07, 'P0301': 22.57, 'P0302': 18.66, 'P0303': 15.88, 'P0304': 14.75, 'P0305': 18.95, 'P0306': 23.66, 'P0307': 12.47, 'P0308': 30.16, 'P0309': 8.18, 'P0310': 17.39, 'P0311': 19.0, 'P0312': 19.99, 'P0313': 12.7, 'P0314': 17.45, 'P0315': 16.76, 'P0316': 22.5, 'P0317': 25.9, 'P0318': 16.74, 'P0319': 9.88, 'P0320': 17.57, 'P0321': 18.22, 'P0322': 19.46, 'P0323': 20.46, 'P0324': 21.98, 'P0325': 22.98, 'P0326': 17.88, 'P0327': 22.51, 'P0328': 17.31, 'P0329': 15.06, 'P0330': 24.12, 'P0331': 17.18, 'P0332': 11.06, 'P0333': 10.93, 'P0334': 14.8, 'P0335': 13.82, 'P0336': 20.22, 'P0337': 16.39, 'P0338': 22.51, 'P0339': 25.28, 'P0340': 22.54, 'P0341': 20.16, 'P0342': 18.53, 'P0343': 17.54, 'P0344': 14.45, 'P0345': 21.04, 'P0346': 12.0, 'P0347': 18.71, 'P0348': 11.8, 'P0349': 23.82, 'P0350': 21.02, 'P0351': 28.92, 'P0352': 11.58, 'P0353': 14.67, 'P0354': 18.12, 'P0355': 14.2, 'P0356': 20.72, 'P0357': 18.15, 'P0358': 16.59, 'P0359': 21.82, 'P0360': 9.89, 'P0361': 20.23, 'P0362': 12.67, 'P0363': 19.42, 'P0364': 21.99, 'P0365': 7.55, 'P0366': 17.5, 'P0367': 19.25, 'P0368': 5.82, 'P0369': 18.37, 'P0370': 13.14, 'P0371': 10.65, 'P0372': 13.95, 'P0373': 11.37, 'P0374': 13.29, 'P0375': 18.94, 'P0376': 23.6, 'P0377': 19.6, 'P0378': 25.18, 'P0379': 13.0, 'P0380': 17.9, 'P0381': 28.73, 'P0382': 10.99, 'P0383': 7.49, 'P0384': 23.48, 'P0385': 20.31, 'P0386': 13.94, 'P0387': 12.23, 'P0388': 17.78, 'P0389': 16.63, 'P0390': 17.54, 'P0391': 11.01, 'P0392': 13.5, 'P0393': 12.33, 'P0394': 22.4, 'P0395': 11.0, 'P0396': 18.0, 'P0397': 29.7, 'P0398': 13.96, 'P0399': 12.6, 'P0400': 16.71, 'P0401': 4.66, 'P0402': 12.09, 'P0403': 17.52, 'P0404': 18.15, 'P0405': 22.59, 'P0406': 16.25, 'P0407': 14.08, 'P0408': 11.94, 'P0409': 16.94, 'P0410': 11.45, 'P0411': 16.47, 'P0412': 13.8, 'P0413': 12.79, 'P0414': 12.64, 'P0415': 20.33, 'P0416': 16.43, 'P0417': 22.11, 'P0418': 13.68, 'P0419': 19.72, 'P0420': 23.9, 'P0421': 22.32, 'P0422': 10.07, 'P0423': 11.3, 'P0424': 24.76, 'P0425': 21.79, 'P0426': 15.33, 'P0427': 14.88, 'P0428': 19.95, 'P0429': 18.47, 'P0430': 16.23, 'P0431': 14.56, 'P0432': 14.62, 'P0433': 16.06, 'P0434': 11.67, 'P0435': 13.2, 'P0436': 23.12, 'P0437': 17.34, 'P0438': 25.57, 'P0439': 7.11, 'P0440': 12.26, 'P0441': 17.49, 'P0442': 17.99, 'P0443': 14.03, 'P0444': 23.51, 'P0445': 15.34, 'P0446': 21.3, 'P0447': 16.77, 'P0448': 10.99, 'P0449': 15.33, 'P0450': 26.77, 'P0451': 14.83, 'P0452': 23.15, 'P0453': 23.03, 'P0454': 17.45, 'P0455': 16.23, 'P0456': 17.84, 'P0457': 19.82, 'P0458': 24.31, 'P0459': 9.48, 'P0460': 16.9, 'P0461': 17.04, 'P0462': 7.27, 'P0463': 14.82, 'P0464': 14.42, 'P0465': 21.46, 'P0466': 20.31, 'P0467': 9.93, 'P0468': 21.83, 'P0469': 17.93, 'P0470': 21.45, 'P0471': 18.5, 'P0472': 20.21, 'P0473': 23.18, 'P0474': 9.28, 'P0475': 15.63, 'P0476': 18.46, 'P0477': 16.39, 'P0478': 16.09, 'P0479': 18.27, 'P0480': 10.61, 'P0481': 21.62, 'P0482': 15.9, 'P0483': 19.73, 'P0484': 14.49, 'P0485': 15.67, 'P0486': 12.6, 'P0487': 12.23, 'P0488': 14.93, 'P0489': 18.22, 'P0490': 21.57, 'P0491': 17.8, 'P0492': 16.3, 'P0493': 21.23, 'P0494': 17.44, 'P0495': 16.21, 'P0496': 17.86, 'P0497': 23.59, 'P0498': 6.53, 'P0499': 5.57, 'P0500': 22.42, 'P0501': 18.94, 'P0502': 23.46, 'P0503': 12.14, 'P0504': 23.75, 'P0505': 16.66, 'P0506': 21.8, 'P0507': 15.48, 'P0508': 13.03, 'P0509': 6.87, 'P0510': 22.23, 'P0511': 21.1, 'P0512': 17.4, 'P0513': 13.2, 'P0514': 26.9, 'P0515': 16.59, 'P0516': 21.15, 'P0517': 16.46, 'P0518': 13.53, 'P0519': 22.87, 'P0520': 20.44, 'P0521': 18.09, 'P0522': 19.18, 'P0523': 23.67, 'P0524': 20.99, 'P0525': 7.27, 'P0526': 11.04, 'P0527': 22.64, 'P0528': 13.14, 'P0529': 14.05, 'P0530': 21.4, 'P0531': 11.03, 'P0532': 17.52, 'P0533': 20.01, 'P0534': 8.48, 'P0535': 9.12, 'P0536': 11.42, 'P0537': 13.98, 'P0538': 16.22, 'P0539': 14.14, 'P0540': 25.61, 'P0541': 17.74, 'P0542': 19.33, 'P0543': 25.37, 'P0544': 10.9, 'P0545': 24.17, 'P0546': 15.94, 'P0547': 17.64, 'P0548': 21.41, 'P0549': 16.13, 'P0550': 16.78, 'P0551': 18.92, 'P0552': 18.7, 'P0553': 13.32, 'P0554': 19.74, 'P0555': 7.6, 'P0556': 20.86, 'P0557': 9.15, 'P0558': 15.69, 'P0559': 18.06, 'P0560': 8.6, 'P0561': 16.81, 'P0562': 12.44, 'P0563': 14.26, 'P0564': 12.65, 'P0565': 11.85, 'P0566': 7.96, 'P0567': 27.74, 'P0568': 18.2, 'P0569': 11.14, 'P0570': 14.01, 'P0571': 17.68, 'P0572': 17.26, 'P0573': 10.38, 'P0574': 11.41, 'P0575': 24.5, 'P0576': 12.13, 'P0577': 5.57, 'P0578': 14.3, 'P0579': 6.1, 'P0580': 12.22, 'P0581': 11.02, 'P0582': 12.54, 'P0583': 18.62, 'P0584': 19.41, 'P0585': 12.77, 'P0586': 18.74, 'P0587': 13.11, 'P0588': 21.9, 'P0589': 10.8, 'P0590': 16.5, 'P0591': 19.6, 'P0592': 28.34, 'P0593': 9.67, 'P0594': 28.67, 'P0595': 19.7, 'P0596': 28.42, 'P0597': 20.7, 'P0598': 14.48, 'P0599': 19.72, 'P0600': 14.9, 'P0601': 18.04, 'P0602': 11.72, 'P0603': 13.17, 'P0604': 20.59, 'P0605': 17.4, 'P0606': 21.68, 'P0607': 11.3, 'P0608': 10.34, 'P0609': 24.87, 'P0610': 23.98, 'P0611': 20.01, 'P0612': 20.44, 'P0613': 20.67, 'P0614': 20.45, 'P0615': 21.05, 'P0616': 21.9, 'P0617': 15.13, 'P0618': 15.54, 'P0619': 19.24, 'P0620': 30.65, 'P0621': 13.52, 'P0622': 14.78, 'P0623': 11.1, 'P0624': 17.77, 'P0625': 14.49, 'P0626': 8.26, 'P0627': 18.4, 'P0628': 27.07, 'P0629': 14.67, 'P0630': 18.0, 'P0631': 23.77, 'P0632': 19.53, 'P0633': 12.74, 'P0634': 22.48, 'P0635': 20.76, 'P0636': 18.81, 'P0637': 19.3, 'P0638': 10.0, 'P0639': 14.8, 'P0640': 14.78, 'P0641': 19.75, 'P0642': 12.51, 'P0643': 16.68, 'P0644': 17.11, 'P0645': 10.54, 'P0646': 14.9, 'P0647': 20.89, 'P0648': 14.39, 'P0649': 12.04, 'P0650': 28.44, 'P0651': 17.65, 'P0652': 12.67, 'P0653': 21.95, 'P0654': 16.57, 'P0655': 16.67, 'P0656': 19.03, 'P0657': 16.9, 'P0658': 22.94, 'P0659': 22.87, 'P0660': 5.25, 'P0661': 24.95, 'P0662': 14.79, 'P0663': 27.6, 'P0664': 18.8, 'P0665': 19.18, 'P0666': 19.5, 'P0667': 33.08, 'P0668': 16.27, 'P0669': 12.01, 'P0670': 16.26, 'P0671': 18.02, 'P0672': 15.62, 'P0673': 20.54, 'P0674': 23.35, 'P0675': 22.16, 'P0676': 18.01, 'P0677': 22.78, 'P0678': 21.79, 'P0679': 17.21, 'P0680': 18.58, 'P0681': 20.52, 'P0682': 18.26, 'P0683': 20.41, 'P0684': 25.07, 'P0685': 20.57, 'P0686': 14.21, 'P0687': 11.33, 'P0688': 18.74, 'P0689': 16.32, 'P0690': 22.57, 'P0691': 24.11, 'P0692': 12.44, 'P0693': 11.14, 'P0694': 16.83, 'P0695': 13.47, 'P0696': 17.17, 'P0697': 17.07, 'P0698': 12.99, 'P0699': 22.86, 'P0700': 17.93, 'P0701': 27.34, 'P0702': 17.2, 'P0703': 22.75, 'P0704': 13.2, 'P0705': 13.68, 'P0706': 26.38, 'P0707': 12.7, 'P0708': 11.67, 'P0709': 14.0, 'P0710': 26.27, 'P0711': 16.06, 'P0712': 18.04, 'P0713': 18.83, 'P0714': 12.82, 'P0715': 14.59, 'P0716': 21.83, 'P0717': 8.95, 'P0718': 18.46, 'P0719': 23.31, 'P0720': 16.69, 'P0721': 22.25, 'P0722': 9.87, 'P0723': 9.87, 'P0724': 19.09, 'P0725': 14.66, 'P0726': 20.9, 'P0727': 18.11, 'P0728': 17.75, 'P0729': 15.88, 'P0730': 18.67, 'P0731': 12.9, 'P0732': 9.94, 'P0733': 16.46, 'P0734': 26.63, 'P0735': 14.45, 'P0736': 15.45, 'P0737': 20.75, 'P0738': 9.81, 'P0739': 21.43, 'P0740': 11.6, 'P0741': 15.69, 'P0742': 29.78, 'P0743': 13.83, 'P0744': 25.95, 'P0745': 18.67, 'P0746': 17.89, 'P0747': 15.08, 'P0748': 23.77, 'P0749': 17.29, 'P0750': 9.32, 'P0751': 25.48, 'P0752': 13.38, 'P0753': 7.03, 'P0754': 14.0, 'P0755': 22.08, 'P0756': 21.69, 'P0757': 12.41, 'P0758': 12.06, 'P0759': 10.48, 'P0760': 16.76, 'P0761': 16.4, 'P0762': 20.67, 'P0763': 18.02, 'P0764': 14.51, 'P0765': 14.05, 'P0766': 17.57, 'P0767': 19.04, 'P0768': 23.06, 'P0769': 19.96, 'P0770': 17.38, 'P0771': 17.78, 'P0772': 10.39, 'P0773': 18.2, 'P0774': 16.34, 'P0775': 19.81, 'P0776': 18.33, 'P0777': 26.96, 'P0778': 9.34, 'P0779': 4.01, 'P0780': 16.72, 'P0781': 14.48, 'P0782': 16.56, 'P0783': 8.93, 'P0784': 26.68, 'P0785': 14.58, 'P0786': 13.92, 'P0787': 27.36, 'P0788': 19.47, 'P0789': 22.61, 'P0790': 16.95, 'P0791': 16.98, 'P0792': 15.68, 'P0793': 14.71, 'P0794': 21.23, 'P0795': 16.64, 'P0796': 28.28, 'P0797': 22.59, 'P0798': 25.83, 'P0799': 5.42, 'P0800': 28.43, 'P0801': 5.34, 'P0802': 12.7, 'P0803': 10.36, 'P0804': 20.51, 'P0805': 19.49, 'P0806': 21.16, 'P0807': 16.19, 'P0808': 24.06, 'P0809': 12.22, 'P0810': 24.27, 'P0811': 18.39, 'P0812': 30.24, 'P0813': 21.26, 'P0814': 14.36, 'P0815': 17.01, 'P0816': 10.71, 'P0817': 21.25, 'P0818': 15.24, 'P0819': 19.44, 'P0820': 8.49, 'P0821': 16.6, 'P0822': 12.41, 'P0823': 11.25, 'P0824': 18.44, 'P0825': 22.7, 'P0826': 4.93, 'P0827': 27.71, 'P0828': 25.07, 'P0829': 10.12, 'P0830': 20.26, 'P0831': 17.64, 'P0832': 16.8, 'P0833': 21.47, 'P0834': 18.14, 'P0835': 14.59, 'P0836': 12.3, 'P0837': 14.96, 'P0838': 25.53, 'P0839': 7.64, 'P0840': 14.44, 'P0841': 23.07, 'P0842': 20.49, 'P0843': 21.09, 'P0844': 14.42, 'P0845': 12.98, 'P0846': 17.6, 'P0847': 13.04, 'P0848': 30.66, 'P0849': 14.83, 'P0850': 22.97, 'P0851': 25.12, 'P0852': 13.97, 'P0853': 6.64, 'P0854': 21.59, 'P0855': 23.31, 'P0856': 14.41, 'P0857': 14.03, 'P0858': 18.53, 'P0859': 16.84, 'P0860': 18.35, 'P0861': 12.07, 'P0862': 17.44, 'P0863': 21.89, 'P0864': 10.2, 'P0865': 26.12, 'P0866': 20.45, 'P0867': 21.48, 'P0868': 10.15, 'P0869': 19.75, 'P0870': 7.79, 'P0871': 10.59, 'P0872': 18.06, 'P0873': 15.01, 'P0874': 19.97, 'P0875': 27.45, 'P0876': 16.83, 'P0877': 21.47, 'P0878': 15.41, 'P0879': 16.77, 'P0880': 13.26, 'P0881': 19.31, 'P0882': 29.72, 'P0883': 20.41, 'P0884': 18.07, 'P0885': 23.84, 'P0886': 22.98, 'P0887': 20.32, 'P0888': 14.5, 'P0889': 22.73, 'P0890': 15.85, 'P0891': 21.97, 'P0892': 13.64, 'P0893': 13.24, 'P0894': 20.3, 'P0895': 13.37, 'P0896': 16.78, 'P0897': 11.29, 'P0898': 11.63, 'P0899': 27.87, 'P0900': 15.92, 'P0901': 13.06, 'P0902': 19.38, 'P0903': 11.11, 'P0904': 16.88, 'P0905': 28.9, 'P0906': 17.58, 'P0907': 22.27, 'P0908': 27.77, 'P0909': 18.5, 'P0910': 18.22, 'P0911': 10.8, 'P0912': 15.0, 'P0913': 15.65, 'P0914': 12.02, 'P0915': 26.55, 'P0916': 22.48, 'P0917': 22.51, 'P0918': 16.9, 'P0919': 12.74, 'P0920': 25.98, 'P0921': 21.58, 'P0922': 20.94, 'P0923': 22.24, 'P0924': 20.39, 'P0925': 27.89, 'P0926': 16.49, 'P0927': 14.5, 'P0928': 23.8, 'P0929': 19.69, 'P0930': 16.6, 'P0931': 17.97, 'P0932': 22.87, 'P0933': 14.21, 'P0934': 17.72, 'P0935': 20.58, 'P0936': 18.04, 'P0937': 13.1, 'P0938': 19.8, 'P0939': 22.12, 'P0940': 21.24, 'P0941': 26.04, 'P0942': 14.97, 'P0943': 23.83, 'P0944': 12.47, 'P0945': 10.37, 'P0946': 12.81, 'P0947': 19.69, 'P0948': 21.57, 'P0949': 17.65, 'P0950': 19.02, 'P0951': 9.93, 'P0952': 23.52, 'P0953': 23.22, 'P0954': 20.64, 'P0955': 11.25, 'P0956': 19.16, 'P0957': 24.84, 'P0958': 26.85, 'P0959': 16.53, 'P0960': 17.94, 'P0961': 16.11, 'P0962': 14.24, 'P0963': 26.23, 'P0964': 21.66, 'P0965': 25.7, 'P0966': 11.96, 'P0967': 16.93, 'P0968': 20.01, 'P0969': 11.27, 'P0970': 24.5, 'P0971': 15.84, 'P0972': 17.64, 'P0973': 14.02, 'P0974': 9.63, 'P0975': 23.62, 'P0976': 21.64, 'P0977': 16.6, 'P0978': 18.39, 'P0979': 19.39, 'P0980': 22.87, 'P0981': 12.01, 'P0982': 20.33, 'P0983': 20.0, 'P0984': 17.63, 'P0985': 7.07, 'P0986': 15.35, 'P0987': 20.41, 'P0988': 18.13, 'P0989': 9.01, 'P0990': 22.68, 'P0991': 27.26, 'P0992': 19.1, 'P0993': 28.61, 'P0994': 15.39, 'P0995': 10.28, 'P0996': 12.34, 'P0997': 17.4, 'P0998': 9.33, 'P0999': 18.34, 'P1000': 32.71, 'P1001': 9.3, 'P1002': 15.52, 'P1003': 10.48, 'P1004': 18.03, 'P1005': 15.8, 'P1006': 13.93, 'P1007': 17.17, 'P1008': 21.31, 'P1009': 22.33, 'P1010': 17.01, 'P1011': 16.28, 'P1012': 20.9, 'P1013': 12.94, 'P1014': 18.27, 'P1015': 15.26, 'P1016': 22.38, 'P1017': 24.51, 'P1018': 15.0, 'P1019': 22.79, 'P1020': 10.22, 'P1021': 17.46, 'P1022': 17.01, 'P1023': 10.75, 'P1024': 11.18, 'P1025': 14.13, 'P1026': 10.06, 'P1027': 1.72, 'P1028': 16.54, 'P1029': 14.85, 'P1030': 15.94, 'P1031': 22.38, 'P1032': 5.67, 'P1033': 17.3, 'P1034': 27.87, 'P1035': 20.7, 'P1036': 23.18, 'P1037': 11.53, 'P1038': 14.58, 'P1039': 5.34, 'P1040': 19.32, 'P1041': 26.22, 'P1042': 9.35, 'P1043': 13.16, 'P1044': 19.3, 'P1045': 17.96, 'P1046': 16.85, 'P1047': 12.84, 'P1048': 15.8, 'P1049': 15.24, 'P1050': 21.38, 'P1051': 17.25, 'P1052': 16.25, 'P1053': 9.38, 'P1054': 22.87, 'P1055': 14.81, 'P1056': 13.69, 'P1057': 19.86, 'P1058': 14.13, 'P1059': 17.75, 'P1060': 19.35, 'P1061': 16.36, 'P1062': 10.3, 'P1063': 7.48, 'P1064': 17.8, 'P1065': 18.76, 'P1066': 17.91, 'P1067': 9.48, 'P1068': 16.73, 'P1069': 17.78, 'P1070': 14.52, 'P1071': 16.81, 'P1072': 18.8, 'P1073': 24.83, 'P1074': 19.7, 'P1075': 21.17, 'P1076': 20.83, 'P1077': 15.03, 'P1078': 15.51, 'P1079': 14.6, 'P1080': 15.85, 'P1081': 13.96, 'P1082': 14.78, 'P1083': 18.51, 'P1084': 21.57, 'P1085': 9.59, 'P1086': 16.84, 'P1087': 16.55, 'P1088': 9.15, 'P1089': 11.89, 'P1090': 22.64, 'P1091': 23.01, 'P1092': 8.46, 'P1093': 20.6, 'P1094': 9.65, 'P1095': 16.57, 'P1096': 15.55, 'P1097': 23.22, 'P1098': 15.6, 'P1099': 11.8, 'P1100': 9.42, 'P1101': 16.44, 'P1102': 14.44, 'P1103': 14.33, 'P1104': 24.04, 'P1105': 17.3, 'P1106': 24.86, 'P1107': 11.63, 'P1108': 11.6, 'P1109': 16.58, 'P1110': 26.19, 'P1111': 13.52, 'P1112': 17.24, 'P1113': 24.29, 'P1114': 18.24, 'P1115': 20.2, 'P1116': 27.13, 'P1117': 21.3, 'P1118': 19.91, 'P1119': 22.12, 'P1120': 12.07, 'P1121': 11.47, 'P1122': 19.67, 'P1123': 14.5, 'P1124': 25.14, 'P1125': 17.24, 'P1126': 20.31, 'P1127': 12.85, 'P1128': 24.05, 'P1129': 4.15, 'P1130': 10.77, 'P1131': 18.3, 'P1132': 13.99, 'P1133': 16.84, 'P1134': 18.15, 'P1135': 23.88, 'P1136': 7.28, 'P1137': 21.3, 'P1138': 23.07, 'P1139': 15.73, 'P1140': 16.4, 'P1141': 18.66, 'P1142': 11.58, 'P1143': 21.22, 'P1144': 21.3, 'P1145': 11.15, 'P1146': 12.71, 'P1147': 11.09, 'P1148': 17.62, 'P1149': 19.74, 'P1150': 10.81, 'P1151': 20.6, 'P1152': 12.82, 'P1153': 22.34, 'P1154': 15.98, 'P1155': 13.13, 'P1156': 25.5, 'P1157': 28.65, 'P1158': 9.23, 'P1159': 22.95, 'P1160': 18.63, 'P1161': 23.1, 'P1162': 8.23, 'P1163': 11.44, 'P1164': 12.81, 'P1165': 17.09, 'P1166': 12.08, 'P1167': 16.51, 'P1168': 23.07, 'P1169': 28.16, 'P1170': 19.57, 'P1171': 23.36, 'P1172': 17.29, 'P1173': 12.52, 'P1174': 16.76, 'P1175': 16.05, 'P1176': 10.96, 'P1177': 23.67, 'P1178': 24.09, 'P1179': 17.99, 'P1180': 24.88, 'P1181': 24.6, 'P1182': 10.19, 'P1183': 7.09, 'P1184': 12.59, 'P1185': 18.65, 'P1186': 11.28, 'P1187': 22.83, 'P1188': 29.53, 'P1189': 18.57, 'P1190': 11.34, 'P1191': 19.96, 'P1192': 13.49, 'P1193': 21.14, 'P1194': 15.25, 'P1195': 22.68, 'P1196': 21.83, 'P1197': 20.44, 'P1198': 26.12, 'P1199': 16.16, 'P1200': 13.35, 'P1201': 6.74, 'P1202': 4.67, 'P1203': 18.56, 'P1204': 18.31, 'P1205': 15.83, 'P1206': 13.41, 'P1207': 22.98, 'P1208': 11.33, 'P1209': 27.96, 'P1210': 27.78, 'P1211': 15.26, 'P1212': 23.32, 'P1213': 20.78, 'P1214': 14.97, 'P1215': 12.96, 'P1216': 15.72, 'P1217': 11.52, 'P1218': 23.45, 'P1219': 14.18, 'P1220': 12.53, 'P1221': 19.46, 'P1222': 18.32, 'P1223': 15.35, 'P1224': 9.58, 'P1225': 20.35, 'P1226': 13.72, 'P1227': 13.66, 'P1228': 22.24, 'P1229': 15.86, 'P1230': 15.14, 'P1231': 24.68, 'P1232': 16.84, 'P1233': 26.38, 'P1234': 21.92, 'P1235': 13.69, 'P1236': 13.47, 'P1237': 11.53, 'P1238': 22.06, 'P1239': 24.14, 'P1240': 13.32, 'P1241': 5.79, 'P1242': 18.62, 'P1243': 15.33, 'P1244': 12.63, 'P1245': 19.75, 'P1246': 22.31, 'P1247': 20.34, 'P1248': 21.4, 'P1249': 17.87, 'P1250': 8.92, 'P1251': 18.91, 'P1252': 18.78, 'P1253': 14.45, 'P1254': 16.5, 'P1255': 21.19, 'P1256': 14.52, 'P1257': 15.67, 'P1258': 19.16, 'P1259': 23.29, 'P1260': 16.74, 'P1261': 19.91, 'P1262': 24.48, 'P1263': 14.95, 'P1264': 14.03, 'P1265': 24.71, 'P1266': 20.91, 'P1267

In [29]:
df_prices = pd.DataFrame.from_dict(prices, orient="index", columns=["price"])
print(df_prices)

       price
P0001  22.14
P0002  26.91
P0003  16.90
P0004   7.04
P0005  20.84
...      ...
P1996  25.80
P1997  26.05
P1998  17.41
P1999   7.57
P2000  14.42

[2000 rows x 1 columns]

#### Aggregate

In [30]:
data = pd.merge(data, df_prices, left_index=True, right_index=True, how='left')
display(data)

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,price
item_code,,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19 00:00:00,17.86
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24 00:00:00,14.04
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25 00:00:00,3.38
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03 00:00:00,15.11
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08 00:00:00,14.20
...,...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000,15.85
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000,17.98
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000,17.75
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000,22.68
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000,20.48

In [31]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

np.float64(44.10144429622423)

### Scrapping sources

In [32]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
driver = webdriver.Chrome()  # Make sure ChromeDriver is installed
# driver = webdriver.Firefox()
# driver = webdriver.Edge()
# driver = webdriver.Safari()

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

# Scrape the second table (Exercise Data)
course_table = tables[1]
for row in course_table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    #exercise_data.append({ TODO })

# Convert the lists to pandas DataFrames
df_exercise = pd.DataFrame(exercise_data)
df_exercise

Empty DataFrame
Columns: []
Index: []

#### Aggregate

In [33]:
data = pd.merge(data, df_exercise, left_index=True, right_index=True, how='left')

In [34]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

np.float64(44.10144429622423)

### Generating Submission File

In [35]:
#X_test =  read  Neighborhood_Market_data

# read
df_StoreN =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified
item_code,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13
...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21

In [36]:
df_StoreN = pd.merge(df_StoreN, df_prices, left_index=True, right_index=True, how='left')
df_StoreN = pd.merge(df_StoreN, df_exercise, left_index=True, right_index=True, how='left')

In [39]:
_, y_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN)

In [40]:
submission = pd.DataFrame({
    'item_code': df_StoreN.index,
    'quantity_sold': y_pred # your_prediction
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

  item_code  quantity_sold
0     P0002     176.692597
1     P0004     221.330805
2     P0005     184.800406
3     P0010     224.960678
4     P0013     215.053125