In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests
import zipfile

## Data Collection

### Files sources

In [94]:
# URLs of the files
train_datas_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

def unzip_file(file_name):
    with zipfile.ZipFile(file_name, mode="r") as archive:
        archive.extractall()
    print(f"Unzipped file {file_name} into current working directory")

# Downloading the files
download_file(test_data_url, 'Neighborhood_Market_data.csv')
download_file(train_datas_url, 'module4_exercise_train.zip')
unzip_file('module4_exercise_train.zip')

Downloaded Neighborhood_Market_data.csv from https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv
Downloaded module4_exercise_train.zip from https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip
Unzipped file module4_exercise_train.zip into current working directory

#### CityMart

In [95]:
def debug_df(df: pd.DataFrame, verbose: bool = False):
    df.info()

    if not verbose:
        print("\nHEAD\n#####\n")
        print(df.head(n = 3))
    else:
        print("\nSAMPLE\n######\n")
        print(df.sample(10))

    if df.isnull().any(axis=1).any():
        print("\nEMPTY ROWS\n##########\n")
        print(df[df.isnull().any(axis=1)])

In [96]:
# read "CityMart_data.csv"
df_city_mart = pd.read_csv("CityMart_data.csv", index_col=0, parse_dates=["last_modified"], dtype={"store_name": "category"})
# three rows missing package_volume
df_city_mart.fillna({"package_volume": -1}, inplace=True)
debug_df(df_city_mart)

<class 'pandas.core.frame.DataFrame'>
Index: 415 entries, P0019 to P1998
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                415 non-null    category
 1   mass                      415 non-null    float64
 2   dimension_length          415 non-null    float64
 3   dimension_width           415 non-null    float64
 4   dimension_height          415 non-null    float64
 5   days_since_last_purchase  415 non-null    int64
 6   package_volume            415 non-null    float64
 7   stock_age                 415 non-null    int64
 8   quantity_sold             415 non-null    int64
 9   last_modified             415 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(5), int64(3)
memory usage: 32.8+ KB

HEAD
#####

          store_name  mass  dimension_length  dimension_width  \
item_code
P0019       CityMart  2.81             26.83            38.75
P0024       CityMart  3.30             59.23            34.99
P0025       CityMart  2.34             22.60            16.90

           dimension_height  days_since_last_purchase  package_volume  \
item_code
P0019                 24.89                       323    25877.199625
P0024                 21.78                       321    45138.128706
P0025                 60.12                       291    22962.232800

           stock_age  quantity_sold last_modified
item_code
P0019            253            202    2023-01-19
P0024             21            225    2023-01-24
P0025            316            278    2023-01-25

#### Greenfield_Grocers

In [97]:
# read "Greenfield_Grocers_data.csv"
df_greenfield_grocers = pd.read_csv("Greenfield_Grocers_data.csv", delimiter="|", header=3, index_col=0, parse_dates=["LAST_MODIFIED"], dtype={"STORE_NAME": "category"})
df_greenfield_grocers.columns = [name.lower() for name in df_greenfield_grocers.columns]
df_greenfield_grocers.drop(["1", "unnamed: 12"], axis=1, inplace=True)
df_greenfield_grocers.dropna(how="all", inplace=True)
df_greenfield_grocers.fillna({"dimension_length": -1}, inplace=True)
debug_df(df_greenfield_grocers)

<class 'pandas.core.frame.DataFrame'>
Index: 401 entries, P0006 to P1995
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                401 non-null    category
 1   mass                      401 non-null    float64
 2   dimension_length          401 non-null    float64
 3   dimension_width           401 non-null    float64
 4   dimension_height          401 non-null    float64
 5   days_since_last_purchase  401 non-null    int64
 6   package_volume            401 non-null    float64
 7   stock_age                 401 non-null    int64
 8   quantity_sold             401 non-null    int64
 9   last_modified             401 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(5), int64(3)
memory usage: 31.7+ KB

HEAD
#####

                   store_name  mass  dimension_length  dimension_width  \
ITEM_CODE
P0006      Greenfield_Grocers  5.02             86.68            71.64
P0014      Greenfield_Grocers  9.91             21.67            54.91
P0016      Greenfield_Grocers  1.13             60.03            97.39

           dimension_height  days_since_last_purchase  package_volume  \
ITEM_CODE
P0006                 16.42                        66   101964.180384
P0014                 84.80                        99   100903.494560
P0016                 90.00                       348   526168.953000

           stock_age  quantity_sold last_modified
ITEM_CODE
P0006            450            130    2023-01-06
P0014            827            118    2023-01-14
P0016            981            136    2023-01-16

#### Outlet_data

In [98]:
# read "SuperSaver_Outlet_data.xlsx"
dfs_supersaver_outlet =  pd.read_excel("SuperSaver_Outlet_data.xlsx", sheet_name=None)

df_supersaver_outlet_quantity = dfs_supersaver_outlet["Quantity"]
df_supersaver_outlet_info = dfs_supersaver_outlet["Info"]

df_supersaver_outlet_quantity.set_index("item_code", inplace=True)

column_names = list(df_supersaver_outlet_info.columns)
column_names.pop(0)
column_names.append("to_be_dropped")
df_supersaver_outlet_info.columns = column_names

df_supersaver_outlet_info.drop("to_be_dropped", axis=1, inplace=True)
df_supersaver_outlet_info.columns = [name.replace(" ", "_") for name in df_supersaver_outlet_info.columns]

df_supersaver_outlet_info.set_index("item_code", inplace=True)

df_supersaver_outlet = pd.merge(df_supersaver_outlet_info, df_supersaver_outlet_quantity, left_index=True, right_index=True)

debug_df(df_supersaver_outlet, verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 379 entries, P0003 to P2000
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                379 non-null    object
 1   mass                      379 non-null    float64
 2   dimension_length          379 non-null    float64
 3   dimension_width           376 non-null    float64
 4   dimension_height          379 non-null    float64
 5   days_since_last_purchase  379 non-null    int64
 6   package_volume            379 non-null    float64
 7   stock_age                 379 non-null    int64
 8   quantity_sold             379 non-null    int64
dtypes: float64(5), int64(3), object(1)
memory usage: 29.6+ KB

SAMPLE
######

                  store_name  mass  dimension_length  dimension_width  \
item_code
P0276      SuperSaver_Outlet  8.48             94.16            87.06
P1896      SuperSaver_Outlet  7.03             71.65            53.71
P0213      SuperSaver_Outlet  1.59             25.40            30.19
P1072      SuperSaver_Outlet  4.63             21.04            86.60
P0660      SuperSaver_Outlet  1.93             77.82            66.82
P1579      SuperSaver_Outlet  9.37             22.48            54.24
P0678      SuperSaver_Outlet  5.76             67.52            57.24
P1074      SuperSaver_Outlet  3.75             73.16            87.17
P0952      SuperSaver_Outlet  9.98             22.17            84.95
P0206      SuperSaver_Outlet  6.41             83.52            15.21

           dimension_height  days_since_last_purchase  package_volume  \
item_code
P0276                 33.10                        96   271339.553760
P1896                 24.66                       106    94899.608190
P0213                 57.15                       335    43824.105900
P1072                 25.30                       223    46098.219200
P0660                 80.31                        72   417606.571044
P1579                 93.60                        88   114127.902720
P0678                 86.69                       231   335043.395712
P1074                 44.21                       276   281942.961812
P0952                 65.34                       122   123057.533610
P0206                  6.24                       104     7926.916608

           stock_age  quantity_sold
item_code
P0276            166            208
P1896            392            184
P0213            521            105
P1072             73            171
P0660            781            243
P1579            592            186
P0678            572            170
P1074            900            243
P0952            103            171
P0206            272            211

EMPTY ROWS
##########

                  store_name  mass  dimension_length  dimension_width  \
item_code
P0574      SuperSaver_Outlet  1.82              5.00              NaN
P1092      SuperSaver_Outlet  3.22             71.22              NaN
P1518      SuperSaver_Outlet  6.76             46.60              NaN

           dimension_height  days_since_last_purchase  package_volume  \
item_code
P0574                 83.26                       298    23446.016000
P1092                 82.02                       162   101524.651272
P1518                 87.85                       345   250909.614900

           stock_age  quantity_sold
item_code
P0574            914            218
P1092            145            216
P1518            263            150

#### HighStreet_Bazaar

In [99]:
# read 'HighStreet_Bazaar_data.json'
df_highstreet_bazaar = pd.read_json("HighStreet_Bazaar_data.json")
df_highstreet_bazaar.set_index("item_code", inplace=True)
df_highstreet_bazaar["store_name"] = df_highstreet_bazaar["store_name"].astype("category")
df_highstreet_bazaar["last_modified"] = pd.to_datetime(df_highstreet_bazaar["last_modified"], unit="ms")
df_highstreet_bazaar.fillna({
    "days_since_last_purchase": -1
}, inplace=True)
debug_df(df_highstreet_bazaar)

<class 'pandas.core.frame.DataFrame'>
Index: 396 entries, P0001 to P1994
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                396 non-null    category
 1   mass                      396 non-null    float64
 2   dimension_length          396 non-null    float64
 3   dimension_width           396 non-null    float64
 4   dimension_height          396 non-null    float64
 5   days_since_last_purchase  396 non-null    float64
 6   package_volume            396 non-null    float64
 7   stock_age                 396 non-null    int64
 8   quantity_sold             396 non-null    int64
 9   last_modified             396 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(6), int64(2)
memory usage: 31.4+ KB

HEAD
#####

                  store_name  mass  dimension_length  dimension_width  \
item_code
P0001      HighStreet_Bazaar  6.11             75.46            91.62
P0011      HighStreet_Bazaar  4.34             16.97            93.21
P0015      HighStreet_Bazaar  1.37             58.93            11.28

           dimension_height  days_since_last_purchase  package_volume  \
item_code
P0001                 92.08                      78.0   636608.450016
P0011                 54.58                     344.0    86333.208546
P0015                 73.87                     344.0    49103.634648

           stock_age  quantity_sold last_modified
item_code
P0001            237            346    2023-01-01
P0011            184            218    2023-01-11
P0015            946            315    2023-01-15

#### Aggregate

In [100]:
data = pd.concat([df_city_mart, df_greenfield_grocers, df_supersaver_outlet, df_highstreet_bazaar], axis=0)
debug_df(data, verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1591 entries, P0019 to P1994
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                1591 non-null   object
 1   mass                      1591 non-null   float64
 2   dimension_length          1591 non-null   float64
 3   dimension_width           1588 non-null   float64
 4   dimension_height          1591 non-null   float64
 5   days_since_last_purchase  1591 non-null   float64
 6   package_volume            1591 non-null   float64
 7   stock_age                 1591 non-null   int64
 8   quantity_sold             1591 non-null   int64
 9   last_modified             1212 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 136.7+ KB

SAMPLE
######

               store_name  mass  dimension_length  dimension_width  \
P0910  Greenfield_Grocers  8.65             38.71            41.44
P1704  Greenfield_Grocers  1.92             51.10            10.09
P1938  Greenfield_Grocers  9.39             78.71            82.95
P0201  Greenfield_Grocers  2.62             67.42            83.19
P1062            CityMart  7.06             82.13            47.73
P0322  Greenfield_Grocers  7.86             85.24            55.64
P1213   SuperSaver_Outlet  7.15             15.15            83.46
P1660   HighStreet_Bazaar  9.60             67.83            87.54
P1404            CityMart  2.43             28.02            55.98
P1839   SuperSaver_Outlet  3.20             38.58            33.95

       dimension_height  days_since_last_purchase  package_volume  stock_age  \
P0910             53.82                     343.0    86334.943968        680
P1704             94.58                      37.0    48765.353420        143
P1938             22.96                     118.0   149905.713720        321
P0201             90.24                     199.0   506126.362752        214
P1062             62.40                      93.0   244612.049760        474
P0322             89.07                     334.0   422437.063152        972
P1213             90.10                      93.0   113924.151900        699
P1660             14.55                     185.0    86395.545810         66
P1404             66.63                     217.0   104513.126148        669
P1839             61.83                     133.0    80984.377530         46

       quantity_sold last_modified
P0910            115    2025-06-28
P1704            135    2027-08-31
P1938            183    2028-04-21
P0201            185    2023-07-20
P1062            249    2025-11-27
P0322            191    2023-11-18
P1213            168           NaT
P1660            187    2027-07-18
P1404            211    2026-11-04
P1839            147           NaT

EMPTY ROWS
##########

              store_name  mass  dimension_length  dimension_width  \
P0003  SuperSaver_Outlet  2.40             50.90             8.80
P0007  SuperSaver_Outlet  9.88             43.65            48.64
P0008  SuperSaver_Outlet  1.45             36.18            10.23
P0009  SuperSaver_Outlet  6.98             48.13            45.55
P0012  SuperSaver_Outlet  7.20             23.66            65.90
...                  ...   ...               ...              ...
P1976  SuperSaver_Outlet  5.10             62.99            49.16
P1980  SuperSaver_Outlet  4.93             74.91            53.25
P1986  SuperSaver_Outlet  4.24             31.52            73.46
P1993  SuperSaver_Outlet  3.21             97.68            39.88
P2000  SuperSaver_Outlet  4.94             98.34            72.87

       dimension_height  days_since_last_purchase  package_volume  stock_age  \
P0003             68.82                     337.0    30825.854400        277
P0007             55.78                      16.0   118428.526080        291
P0008             69.14                     315.0    25590.193596        169
P0009             44.66                     295.0    97909.078190        443
P0012             12.05                      40.0    18788.287700         45
...                 ...                       ...             ...        ...
P1976             65.56                     293.0   203012.335504        464
P1980             52.95                     285.0   211215.299625        163
P1986             55.73                     330.0   129040.541216        755
P1993             43.20                     293.0   168284.666880        889
P2000             75.57                     142.0   541537.325406        860

       quantity_sold last_modified
P0003            198           NaT
P0007            211           NaT
P0008            200           NaT
P0009            209           NaT
P0012            186           NaT
...              ...           ...
P1976            236           NaT
P1980            192           NaT
P1986            193           NaT
P1993            185           NaT
P2000            250           NaT

[379 rows x 10 columns]

#### Simple baseline

In [101]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    
    data = data.copy()
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(drop_cols, axis=1, inplace=True)
        if X_data_test is not None:
            X_data_test.drop(drop_cols, axis=1, inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(target_col, axis=1)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression()
    elif model == 'random_forest':
        model = RandomForestClassifier()
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    
    # Return the average score
    return np.mean(scores)

In [120]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

/tmp/ipykernel_926012/1105090747.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  data.fillna(fillna_value, inplace=True)

np.float64(40.03236095268504)

### API sources

In [103]:
def get_api(endpoint_url):
    try:
        # Make the GET request to the mock API
        response = requests.get(endpoint_url)

        if response.status_code == 200:
            data = response.json()
            print(data["message"])
            return data['data']
        else:
            print(f"Failed to retrieve volume data. Status code: {response.status_code}")
    
    except Exception as e:
        print(f"An error occurred: {e}")

password = get_api("https://www.raphaelcousin.com/api/exercise/auth")["password"]
prices = get_api(f"https://www.raphaelcousin.com/api/exercise/{password}/prices")

Authentication successful
Volume data retrieved successfully

In [104]:
df_prices = pd.DataFrame.from_dict(prices, orient="index", columns=["price"])
debug_df(df_prices)

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, P0001 to P2000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   2000 non-null   float64
dtypes: float64(1)
memory usage: 31.2+ KB

HEAD
#####

       price
P0001  22.14
P0002  26.91
P0003  16.90

#### Aggregate

In [105]:
data = pd.merge(data, df_prices, left_index=True, right_index=True, how='left')
debug_df(data, verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1591 entries, P0019 to P1994
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   store_name                1591 non-null   object
 1   mass                      1591 non-null   float64
 2   dimension_length          1591 non-null   float64
 3   dimension_width           1588 non-null   float64
 4   dimension_height          1591 non-null   float64
 5   days_since_last_purchase  1591 non-null   float64
 6   package_volume            1591 non-null   float64
 7   stock_age                 1591 non-null   int64
 8   quantity_sold             1591 non-null   int64
 9   last_modified             1212 non-null   datetime64[ns]
 10  price                     1591 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 213.7+ KB

SAMPLE
######

               store_name  mass  dimension_length  dimension_width  \
P0184  Greenfield_Grocers  8.46             74.82            93.94
P0071            CityMart  7.84             61.71            64.44
P0837  Greenfield_Grocers  5.10             44.02            23.92
P1462   HighStreet_Bazaar  5.24             92.65            68.04
P1494  Greenfield_Grocers  6.14             75.36            46.08
P1700   HighStreet_Bazaar  4.90             36.61            13.98
P0235            CityMart  2.72             26.52            82.98
P1825            CityMart  9.99             96.02            59.38
P1628            CityMart  8.40             40.83            22.44
P1308            CityMart  9.41             88.95            93.51

       dimension_height  days_since_last_purchase  package_volume  stock_age  \
P0184             13.33                     181.0    93691.115364        293
P0071             35.36                      13.0   140612.307264        847
P0837             17.68                     194.0    18616.304512         57
P1462             25.11                     301.0   158291.079660        936
P1494             76.41                      30.0   265340.510208        958
P1700             56.41                      97.0    28871.077998        306
P0235             14.82                      50.0    32613.330672        725
P1825             58.19                     301.0   331780.037644        429
P1628             12.23                     307.0    11205.434196        665
P1308             70.52                     327.0   586565.226540          1

       quantity_sold last_modified  price
P0184            120    2023-07-03  26.01
P0071            237    2023-03-12  12.82
P0837            162    2025-04-16  14.96
P1462            224    2027-01-01  13.91
P1494            112    2027-02-02  21.12
P1700            274    2027-08-27  10.90
P0235            236    2023-08-23  18.52
P1825            166    2027-12-30  27.95
P1628            185    2027-06-16  12.86
P1308            283    2026-07-31  16.50

EMPTY ROWS
##########

              store_name  mass  dimension_length  dimension_width  \
P0003  SuperSaver_Outlet  2.40             50.90             8.80
P0007  SuperSaver_Outlet  9.88             43.65            48.64
P0008  SuperSaver_Outlet  1.45             36.18            10.23
P0009  SuperSaver_Outlet  6.98             48.13            45.55
P0012  SuperSaver_Outlet  7.20             23.66            65.90
...                  ...   ...               ...              ...
P1976  SuperSaver_Outlet  5.10             62.99            49.16
P1980  SuperSaver_Outlet  4.93             74.91            53.25
P1986  SuperSaver_Outlet  4.24             31.52            73.46
P1993  SuperSaver_Outlet  3.21             97.68            39.88
P2000  SuperSaver_Outlet  4.94             98.34            72.87

       dimension_height  days_since_last_purchase  package_volume  stock_age  \
P0003             68.82                     337.0    30825.854400        277
P0007             55.78                      16.0   118428.526080        291
P0008             69.14                     315.0    25590.193596        169
P0009             44.66                     295.0    97909.078190        443
P0012             12.05                      40.0    18788.287700         45
...                 ...                       ...             ...        ...
P1976             65.56                     293.0   203012.335504        464
P1980             52.95                     285.0   211215.299625        163
P1986             55.73                     330.0   129040.541216        755
P1993             43.20                     293.0   168284.666880        889
P2000             75.57                     142.0   541537.325406        860

       quantity_sold last_modified  price
P0003            198           NaT  16.90
P0007            211           NaT  14.46
P0008            200           NaT  11.72
P0009            209           NaT  14.70
P0012            186           NaT  27.74
...              ...           ...    ...
P1976            236           NaT  18.69
P1980            192           NaT  17.20
P1986            193           NaT  20.91
P1993            185           NaT  17.35
P2000            250           NaT  14.42

[379 rows x 11 columns]

In [106]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

/tmp/ipykernel_926012/1105090747.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  data.fillna(fillna_value, inplace=True)

np.float64(44.10144429622424)

### Scrapping sources

In [107]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
driver = webdriver.Chrome()  # Make sure ChromeDriver is installed
# driver = webdriver.Firefox()
# driver = webdriver.Edge()
# driver = webdriver.Safari()

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

def parse_row(cols):
    assert len(cols) == 4

    return {
        "item_code": cols[0].text,
        "customer_score": int(cols[1].text),
        "total_reviews": int(cols[2].text),
        "updated_timestamp": int(cols[3].text),
    }

# Scrape the second table (Exercise Data)
course_table = tables[1]
for row in course_table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    exercise_data.append(parse_row(cols))

# Convert the lists to pandas DataFrames
df_exercise = pd.DataFrame(exercise_data)
df_exercise.set_index("item_code", inplace=True)
debug_df(df_exercise)

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, P0001 to P2000
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_score     2000 non-null   int64
 1   total_reviews      2000 non-null   int64
 2   updated_timestamp  2000 non-null   int64
dtypes: int64(3)
memory usage: 62.5+ KB

HEAD
#####

           customer_score  total_reviews  updated_timestamp
item_code
P0001                   2            972            1728491
P0002                   3            260            1728548
P0003                   2            285            1728488

#### Aggregate

In [108]:
data = pd.merge(data, df_exercise, left_index=True, right_index=True, how='left')

In [109]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

/tmp/ipykernel_926012/1105090747.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  data.fillna(fillna_value, inplace=True)

np.float64(40.03236095268504)

### Generating Submission File

In [114]:
# X_test =  read  Neighborhood_Market_data

# read
df_StoreN =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified
item_code,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13
...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21

In [115]:
df_StoreN = pd.merge(df_StoreN, df_prices, left_index=True, right_index=True, how='left')
df_StoreN = pd.merge(df_StoreN, df_exercise, left_index=True, right_index=True, how='left')

In [137]:
x_loss, x_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler="standard", model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreN)

/tmp/ipykernel_926012/1105090747.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  data.fillna(fillna_value, inplace=True)

In [138]:
if x_loss > 20:
    print(f"Not good enough : {x_loss}")
else:
    submission = pd.DataFrame({
        'item_code': df_StoreN.index,
        'quantity_sold': x_pred
    })

    submission.to_csv('submission.csv', index=False, sep=',')
    submission.head()

Not good enough : 40.03236095268504