In [1]:
import pandas as pd
import numpy as np

## Data Collection

### Files sources

In [2]:
import requests

In [3]:
# URLs of the files
train_datas_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip'
test_data_url = 'https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_datas_url, 'module4_exercise_train.zip')
download_file(test_data_url, 'Neighborhood_Market_data.csv')

Downloaded module4_exercise_train.zip from https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/module4_exercise_train.zip
Downloaded Neighborhood_Market_data.csv from https://www.raphaelcousin.com/modules/data-science-practice/module4/exercise/Neighborhood_Market_data.csv

#### CityMart

In [4]:
!unzip "module4_exercise_train.zip"

Archive:  module4_exercise_train.zip
replace CityMart_data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [3]:
# read "CityMart_data.csv
df_cm = pd.read_csv('CityMart_data.csv')

#### Greenfield_Grocers

In [4]:
# read "Greenfield_Grocers_data.csv"
df_gg = pd.read_csv('Greenfield_Grocers_data.csv',sep='|')

In [5]:
df_gg

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ITEM_CODE,STORE_NAME,MASS,DIMENSION_LENGTH,DIMENSION_WIDTH,DIMENSION_HEIGHT,DAYS_SINCE_LAST_PURCHASE,PACKAGE_VOLUME,STOCK_AGE,QUANTITY_SOLD,LAST_MODIFIED,1.0,NaN
3,P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.18038400002,450,130,2023-01-06,NaN,NaN
4,P0014,Greenfield_Grocers,9.91,21.67,54.91,84.8,99,100903.49455999999,827,118,2023-01-14,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.63402300002,31,154,2028-06-05,NaN,NaN
400,P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07,NaN,NaN
401,P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757867999997,770,162,2028-06-10,NaN,NaN
402,P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12,NaN,NaN
403,P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17,NaN,NaN

In [6]:
df_gg.drop(df_gg.index[0:2], inplace=True)

In [7]:
df_gg.columns = df_gg.iloc[0].str.lower()
df_gg = df_gg[1:].reset_index(drop=True)  # supprimer la première ligne et réindexer

In [8]:
df_gg = df_gg.iloc[:,:-2]

In [9]:
df_gg

2,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
0,P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.18038400002,450,130,2023-01-06
1,P0014,Greenfield_Grocers,9.91,21.67,54.91,84.8,99,100903.49455999999,827,118,2023-01-14
2,P0016,Greenfield_Grocers,1.13,60.03,97.39,90.0,348,526168.953,981,136,2023-01-16
3,P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.95657599997,289,155,2023-01-21
4,P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28
...,...,...,...,...,...,...,...,...,...,...,...
396,P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.63402300002,31,154,2028-06-05
397,P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07
398,P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757867999997,770,162,2028-06-10
399,P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12
400,P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17

#### Outlet_data

In [12]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 2.7 MB/s eta 0:00:00[31m2.9 MB/s eta 0:00:01
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [13]:
# read "SuperSaver_Outlet_data.xlsx"
df_ss = pd.read_excel("SuperSaver_Outlet_data.xlsx")

#### HighStreet_Bazaar

In [11]:
# read 'HighStreet_Bazaar_data.json'
df_hb = pd.read_json('HighStreet_Bazaar_data.json')

#### Aggregate

#### Simple baseline

In [14]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    
    data = data.copy()
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(drop_cols, axis=1, inplace=True)
        if X_data_test is not None:
            X_data_test.drop(drop_cols, axis=1, inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(target_col, axis=1)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression()
    elif model == 'random_forest':
        model = RandomForestClassifier()
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    
    # Return the average score
    return np.mean(scores),y_pred

In [15]:
data = pd.concat(
    [df_gg, df_cm,df_hb,df_ss],
    axis=0,                      # 0 for vertical, 1 for horizontal
    ignore_index=True)

In [16]:
get_simple_baseline(data, fillna_value=-1, k_fold=5,drop_cols=['item_code','store_name','last_modified'] ,scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

(45.29826295961563,
 array([202.83478343, 183.57375502, 215.17133805, 202.20100204,
        197.7536343 , 190.15089047, 189.51479604, 231.40747262,
        191.4914033 , 190.56020574, 208.54286147, 195.23050861,
        193.32835469, 235.8851397 , 195.52503774, 213.56420424,
        215.71134858, 195.20558474, 208.76171454, 191.70158859,
        186.22204309, 196.46572908, 192.28680315, 195.56853182,
        194.65376496, 196.13763867, 204.29570287, 193.07131764,
        197.93332867, 201.64147044, 198.23853091, 191.5078964 ,
        212.7282893 , 189.93788309, 220.20702009, 193.75734565,
        200.59789218, 200.67674533, 206.93096891, 187.73764011,
        196.97131403, 202.70030898, 199.39733904, 235.14241891,
        193.28255939, 198.39294422, 184.91563634, 200.1765796 ,
        187.61092146, 195.96619618, 223.27337195, 213.17599035,
        195.40748185, 231.10264069, 180.34183863, 215.12682362,
        188.21917251, 209.29580194, 217.06864121, 193.57710086,
        192.78477355, 191.3070612 , 191.99329357, 194.8071104 ,
        210.05828066, 191.99633809, 211.84510021, 196.87200621,
        181.809213  , 188.96332981, 199.14769351, 194.60421064,
        186.68550903, 190.12944464, 187.46648409, 189.10945281,
        195.25003344, 197.88285931, 198.04873133, 193.28372399,
        189.988363  , 194.27522246, 185.97180865, 193.55289914,
        204.32127536, 203.30937743, 190.02138364, 201.20814066,
        206.71929477, 183.62296132, 224.61794519, 194.69919365,
        192.34807915, 200.83338751, 204.64006471, 205.50226743,
        194.23953494, 204.33291891, 202.37149644, 191.66403256,
        203.42930706, 212.86240735, 201.9079443 , 198.23898296,
        207.95741467, 187.87193155, 195.39328323, 189.05949241,
        197.8032148 , 208.17928808, 214.53097792, 190.63182637,
        200.48930892, 193.88726663, 214.31905218, 218.86620654,
        194.50970214, 196.98481996, 197.90140644, 189.33599262,
        230.03292086, 204.95337512, 192.92350954, 191.65187275,
        186.49798746, 204.23914788, 198.77809118, 192.29606199,
        219.14917353, 186.85296087, 210.17676076, 217.3844775 ,
        196.96637967, 193.85476082, 200.20901335, 200.61385562,
        188.96356536, 186.06904018, 197.61861354, 234.87816656,
        237.68268136, 194.24251262, 219.02700528, 210.12141336,
        199.98791763, 193.92763468, 237.71347318, 201.51074807,
        201.08854019, 199.91066707, 220.25981503, 193.67739161,
        196.35214373, 221.67774553, 194.28574513, 212.35660141,
        199.56543285, 190.81572043, 191.49795099, 196.75548599,
        180.81120383, 188.15825382, 206.17556991, 196.33537779,
        183.81732748, 205.89317555, 223.50962859, 211.50416334,
        191.66427075, 189.72330264, 209.57417183, 192.61871467,
        196.72526052, 184.75404874, 206.44830299, 205.90776272,
        187.72607714, 199.54404601, 200.95741421, 197.84821076,
        192.75759452, 195.81693199, 188.87294048, 189.29386971,
        196.1397672 , 202.21706073, 246.16218502, 208.15767531,
        194.85620544, 219.4613365 , 205.23094452, 198.56008119,
        200.76095723, 224.97220569, 190.10449716, 192.57507796,
        194.43661219, 199.94472893, 190.19721817, 200.24995453,
        194.12083772, 201.96210125, 240.82405092, 219.52531556,
        184.45568395, 199.83903868, 214.87401341, 207.63748621,
        201.08472759, 223.68791153, 199.6676566 , 208.04337507,
        198.3182998 , 186.44166992, 201.44294194, 194.11996127,
        202.05626616, 193.92167806, 184.82193803, 188.47865135,
        199.90171362, 219.21732226, 192.10623004, 205.46676475,
        189.95548137, 202.31827308, 201.91457088, 207.29236467,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456, 197.65981456, 197.65981456,
        197.65981456, 197.65981456]))

### API sources

In [17]:
def get_api(endpoint_url):
    try:
        # Make the GET request to the mock API
        response = requests.get(endpoint_url)

        if response.status_code == 200:
            data = response.json()
            print(data["message"])
            return data['data']
        else:
            print(f"Failed to retrieve volume data. Status code: {response.status_code}")
    
    except Exception as e:
        print(f"An error occurred: {e}")
password =get_api('https://www.raphaelcousin.com/api/exercise/auth') 
password = password['password']
print(password)

prices = get_api(f'https://www.raphaelcousin.com/api/exercise/{password}/prices')

Authentication successful
RcUZjhdsYLRzwi4
Volume data retrieved successfully

In [18]:

df_prices = pd.DataFrame(list(prices.items()), columns=["item_code", "prices"])

In [20]:
df_prices

     item_code  prices
0        P0001   22.14
1        P0002   26.91
2        P0003   16.90
3        P0004    7.04
4        P0005   20.84
...        ...     ...
1995     P1996   25.80
1996     P1997   26.05
1997     P1998   17.41
1998     P1999    7.57
1999     P2000   14.42

[2000 rows x 2 columns]

#### Aggregate

In [21]:
data1 = pd.merge(data, df_prices, on = 'item_code',how="inner")
#data1 = pd.merge(data, df_prices, left_index=True, right_index=True, how='left')
#data1 = data1.dropna()

In [22]:
data1.head()

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,prices
0,P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.18038400002,450,130,2023-01-06,15.53
1,P0014,Greenfield_Grocers,9.91,21.67,54.91,84.8,99,100903.49455999999,827,118,2023-01-14,28.94
2,P0016,Greenfield_Grocers,1.13,60.03,97.39,90.0,348,526168.953,981,136,2023-01-16,15.10
3,P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.95657599997,289,155,2023-01-21,3.35
4,P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28,15.06

In [23]:
get_simple_baseline(data1, fillna_value=-1, drop_cols=['item_code','store_name','last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

(44.56862010545781,
 array([184.37786245, 173.54148685, 211.66142691, 200.86126572,
        194.31998664, 201.14221962, 205.27340062, 236.40712175,
        200.59613854, 187.50383306, 203.2354151 , 204.63928724,
        201.70652708, 235.4921292 , 195.88423722, 204.94476219,
        212.54480999, 200.38281906, 198.72195575, 194.10450857,
        173.22262111, 182.68645375, 191.2893341 , 202.17828734,
        176.38834714, 192.69630968, 181.79833993, 205.75224042,
        194.12280326, 216.86594446, 184.64192043, 176.22936751,
        222.09011879, 183.88346947, 223.4527046 , 200.99109467,
        198.28308326, 194.6554769 , 220.21975981, 191.30109689,
        192.81461374, 205.96900706, 203.10177858, 234.76266562,
        194.92232851, 194.23727443, 194.60714095, 195.50987144,
        197.77897724, 192.22641196, 210.6939744 , 226.29137266,
        189.46859255, 220.26512974, 176.11587106, 208.68662197,
        178.78588133, 211.72442294, 221.59770098, 180.28683323,
        199.43309975, 173.61049834, 184.23865523, 200.34762749,
        221.57026237, 175.75592583, 218.03917605, 193.68551026,
        181.0394702 , 184.94188635, 194.35780667, 186.81587523,
        185.1512015 , 195.75576824, 212.39973117, 189.11527848,
        196.01621013, 190.62207635, 191.37421645, 189.39824006,
        180.69420631, 204.07891896, 190.08724395, 187.70085462,
        173.89477675, 202.1551879 , 177.03917171, 215.44152812,
        200.30688298, 186.7756239 , 230.74221849, 214.60236013,
        181.77808891, 192.60399572, 202.59931012, 202.31269334,
        186.43782531, 203.04672488, 193.57445708, 189.5034464 ,
        211.76069391, 214.58424422, 198.93291858, 187.83221296,
        188.66206622, 165.05800605, 205.01576045, 186.04369003,
        197.27691782, 201.62456132, 230.04786091, 178.45470956,
        209.67617482, 201.54547973, 212.11275764, 223.72674095,
        196.99742422, 180.71203975, 214.47525412, 184.80410361,
        225.72210794, 191.29378817, 181.87427032, 182.51383894,
        178.4959685 , 193.1215098 , 192.53056133, 183.18722027,
        220.30698288, 164.95250751, 210.25072257, 214.21490499,
        188.73377897, 188.87677494, 194.76972904, 189.84751325,
        188.19389559, 192.06271233, 207.93109828, 206.43158225,
        232.31053406, 184.76637645, 226.46014282, 217.34866484,
        190.82027864, 192.55268029, 227.42874132, 216.43489064,
        205.48767584, 202.01441657, 207.53929576, 194.46451597,
        213.68809326, 219.21561522, 180.56610498, 210.60587722,
        200.95735381, 213.29577948, 178.3938895 , 207.59588796,
        195.79792428, 186.53357627, 212.07404227, 187.82503365,
        196.65850621, 207.94787759, 198.56680459, 211.72107368,
        190.23934453, 172.39003971, 211.3985997 , 196.58582236,
        188.97027791, 180.88846579, 184.8630619 , 222.21238769,
        183.89440527, 204.15608594, 204.86902058, 200.42643498,
        177.25405294, 198.51779839, 180.88265982, 194.65273519,
        198.49295045, 198.06186741, 243.13555912, 204.33845748,
        172.42585122, 222.07160483, 206.59514076, 197.67951341,
        196.08788664, 247.63470078, 189.78117583, 200.66177231,
        218.15199124, 195.06404816, 197.13318773, 203.75898169,
        176.81812757, 183.35428847, 241.41551051, 231.72168542,
        189.92582648, 198.08191054, 215.15462414, 197.90636902,
        212.47165265, 236.71755176, 200.22500032, 207.77284356,
        181.86138099, 175.34070821, 208.89295173, 189.76365014,
        194.75096802, 198.76897933, 191.60646687, 183.56247089,
        197.9196993 , 209.00936363, 207.70681134, 208.88898818,
        182.83874091, 196.37250368, 200.63495632, 210.73517759,
        202.93589973, 206.02812358, 195.3493878 , 196.42494392,
        199.59399321, 193.25589464, 193.7936727 , 205.85526635,
        185.74620815, 197.88462723, 189.45303549, 183.99842945,
        188.62716204, 194.77319702, 195.23414965, 182.05858716,
        198.96018335, 198.71050068, 190.54779797, 189.52986093,
        191.89224313, 189.01128923, 195.06129241, 194.33145076,
        189.31859098, 208.7554266 , 202.20605808, 188.76160656,
        223.46749784, 179.92668127, 195.75272135, 198.90256428,
        187.05224058, 204.2227258 , 195.92557858, 189.12652739,
        187.93573311, 177.6027118 , 206.56590164, 181.80890449,
        193.92811721, 208.10241039, 201.68748638, 194.48510163,
        177.64112452, 205.89367906, 198.80653248, 200.82320021,
        204.87574202, 180.86779288, 185.30446188, 186.30319257,
        209.50447462, 195.52224504, 212.7695557 , 192.08430672,
        201.72589909, 190.47097254, 194.36986348, 189.89478176,
        190.43255982, 216.13066858, 206.70034616, 201.1112956 ,
        205.12542469, 205.93209178, 186.76414519, 181.09826919,
        198.3263735 , 197.86542087, 196.36732485, 187.22509781,
        194.3122444 , 206.14336174, 201.39939099, 194.69637159,
        210.9257452 , 190.20208351, 217.68638368, 215.20876333,
        184.90112834, 183.76795314, 179.92668127, 188.01255854,
        210.44558622, 192.94859289, 206.73875887, 206.22018717,
        198.1343099 , 197.84621451]))

### Scrapping sources

In [25]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.38.0-py3-none-any.whl.metadata (7.5 kB)
Collecting urllib3<3.0,>=2.5.0 (from urllib3[socks]<3.0,>=2.5.0->selenium)
  Downloading urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting trio<1.0,>=0.31.0 (from selenium)
  Downloading trio-0.31.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket<1.0,>=0.12.2 (from selenium)
  Downloading trio_websocket-0.12.2-py3-none-any.whl.metadata (5.1 kB)
Collecting certifi>=2025.10.5 (from selenium)
  Downloading certifi-2025.10.5-py3-none-any.whl.metadata (2.5 kB)
Collecting typing_extensions<5.0,>=4.15.0 (from selenium)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Collecting websocket-client<2.0,>=1.8.0 (from selenium)
  Downloading websocket_client-1.9.0-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: attrs>=23.2.0 in /usr/lib/python3/dist-packages (from trio<1.0,>=0.31.0->selenium) (23.2.0)
Collecting sortedcontainers (from trio<1.0,>=0.31.0->selenium)
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: idna in /usr/lib/python3/dist-packages (from trio<1.0,>=0.31.0->selenium) (3.6)
Collecting outcome (from trio<1.0,>=0.31.0->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in /home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages (from trio<1.0,>=0.31.0->selenium) (1.3.1)
Collecting wsproto>=0.14 (from trio-websocket<1.0,>=0.12.2->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3.0,>=2.5.0->selenium)
  Downloading PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: h11<1,>=0.9.0 in /home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium) (0.16.0)
Downloading selenium-4.38.0-py3-none-any.whl (9.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.7/9.7 MB 4.1 MB/s eta 0:00:00m eta 0:00:010:01:01
Downloading certifi-2025.10.5-py3-none-any.whl (163 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.3/163.3 kB 3.5 MB/s eta 0:00:00[31m5.6 MB/s eta 0:00:01
Downloading trio-0.31.0-py3-none-any.whl (512 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 512.7/512.7 kB 4.3 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Downloading trio_websocket-0.12.2-py3-none-any.whl (21 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.6/44.6 kB 1.9 MB/s eta 0:00:00
Downloading urllib3-2.5.0-py3-none-any.whl (129 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.8/129.8 kB 4.6 MB/s eta 0:00:00[31m6.6 MB/s eta 0:00:01
Downloading websocket_client-1.9.0-py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.6/82.6 kB 3.2 MB/s eta 0:00:00
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Installing collected packages: sortedcontainers, wsproto, websocket-client, urllib3, typing_extensions, pysocks, outcome, certifi, trio, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.7
    Not uninstalling urllib3 at /usr/lib/python3/dist-packages, outside environment /home/malik/ds/Camel-glitch/env
    Can't uninstall 'urllib3'. No files were found to uninstall.
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.10.0
    Not uninstalling typing-extensions at /usr/lib/python3/dist-packages, outside environment /home/malik/ds/Camel-glitch/env
    Can't uninstall 'typing_extensions'. No files were found to uninstall.
  Attempting uninstall: certifi
    Found existing installation: certifi 2023.11.17
    Not uninstalling certifi at /usr/lib/python3/dist-packages, outside environment /home/malik/ds/Camel-glitch/env
    Can't uninstall 'certifi'. No files were found to uninstall.
Successfully installed certifi-2025.10.5 outcome-1.3.0.post0 pysocks-1.7.1 selenium-4.38.0 sortedcontainers-2.4.0 trio-0.31.0 trio-websocket-0.12.2 typing_extensions-4.15.0 urllib3-2.5.0 websocket-client-1.9.0 wsproto-1.2.0

In [26]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
#driver = webdriver.Chrome()  # Make sure ChromeDriver is installed
driver = webdriver.Firefox()
# driver = webdriver.Edge()
# driver = webdriver.Safari()

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

# Scrape the second table (Exercise Data)
course_table = tables[1]

course_table = tables[1]
for row in course_table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    x = [col.get_text(strip=True) for col in cols]    
    exercise_data.append(x)

print(exercise_data)
# Construire le DataFrame avec toutes les colonnes

Error terminating service process.
Traceback (most recent call last):
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/webdriver.py", line 366, in start_session
    response = self.execute(Command.NEW_SESSION, caps)["value"]
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/webdriver.py", line 458, in execute
    self.error_handler.check_response(response)
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/errorhandler.py", line 233, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.InvalidArgumentException: Message: binary is not a Firefox executable


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/common/service.py", line 179, in _terminate_process
    self.process.terminate()
  File "/usr/lib/python3.12/subprocess.py", line 2211, in terminate
    self.send_signal(signal.SIGTERM)
  File "/usr/lib/python3.12/subprocess.py", line 2203, in send_signal
    os.kill(self.pid, sig)
PermissionError: [Errno 13] Permission denied
Error terminating service process.
Traceback (most recent call last):
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/firefox/webdriver.py", line 71, in __init__
    super().__init__(command_executor=executor, options=options)
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/webdriver.py", line 263, in __init__
    self.start_session(capabilities)
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/webdriver.py", line 366, in start_session
    response = self.execute(Command.NEW_SESSION, caps)["value"]
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/webdriver.py", line 458, in execute
    self.error_handler.check_response(response)
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/remote/errorhandler.py", line 233, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.InvalidArgumentException: Message: binary is not a Firefox executable


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/malik/ds/Camel-glitch/env/lib/python3.12/site-packages/selenium/webdriver/common/service.py", line 179, in _terminate_process
    self.process.terminate()
  File "/usr/lib/python3.12/subprocess.py", line 2211, in terminate
    self.send_signal(signal.SIGTERM)
  File "/usr/lib/python3.12/subprocess.py", line 2203, in send_signal
    os.kill(self.pid, sig)
PermissionError: [Errno 13] Permission denied

InvalidArgumentException: Message: binary is not a Firefox executable

In [30]:
# Convert the lists to pandas DataFrames
df_exercise = pd.DataFrame(exercise_data)
df_exercise
df_exercise.rename(columns={0: "item_code",1:"1",2:"2",3:"3"}, inplace=True)
df_exercise = df_exercise.astype({"1":float,"2":float,"3":float})

In [31]:
df_exercise

     item_code    1      2          3
0        P0001  2.0  972.0  1728492.0
1        P0002  3.0  260.0  1728533.0
2        P0003  2.0  285.0  1728581.0
3        P0004  5.0  512.0  1728505.0
4        P0005  3.0   85.0  1728489.0
...        ...  ...    ...        ...
1995     P1996  5.0  512.0  1728531.0
1996     P1997  2.0  989.0  1728504.0
1997     P1998  2.0  440.0  1728574.0
1998     P1999  4.0   37.0  1728483.0
1999     P2000  4.0  701.0  1728529.0

[2000 rows x 4 columns]

#### Aggregate

In [32]:
data2 = pd.merge(data1, df_exercise, on='item_code',  how='inner')

In [ ]:
data2

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,prices,1,2,3
0,P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66.0,101964.180384,450.0,130,2023-01-06,15.53,1.0,849.0,1728564.0
1,P0014,Greenfield_Grocers,9.91,21.67,54.91,84.80,99.0,100903.494560,827.0,118,2023-01-14,28.94,4.0,348.0,1728498.0
2,P0016,Greenfield_Grocers,1.13,60.03,97.39,90.00,348.0,526168.953000,981.0,136,2023-01-16,15.10,2.0,411.0,1728577.0
3,P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301.0,273426.956576,289.0,155,2023-01-21,3.35,2.0,787.0,1728503.0
4,P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15.0,94903.217262,423.0,177,2023-01-28,15.06,4.0,922.0,1728580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586,P1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236,NaN,18.69,5.0,574.0,1728488.0
1587,P1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192,NaN,17.20,4.0,624.0,1728568.0
1588,P1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193,NaN,20.91,2.0,818.0,1728533.0
1589,P1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185,NaN,17.35,4.0,121.0,1728504.0
1590,P2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250,NaN,14.42,4.0,701.0,1728545.0

In [33]:
get_simple_baseline(data2, fillna_value=-1, k_fold=5, drop_cols= ['item_code','store_name','last_modified'], scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

(np.float64(41.07169954187501),
 array([183.1983382 , 136.68825702, 258.13396742, 189.82437079,
        215.01483136, 168.3276732 , 183.95239172, 204.28737979,
        179.1597104 , 140.19664521, 185.39590673, 227.93087725,
        201.621218  , 249.38902034, 176.22489763, 181.06441781,
        231.19297207, 219.56853479, 213.58982301, 158.07870969,
        182.99033368, 167.04479681, 211.17687896, 194.42343826,
        211.06530232, 208.45443961, 143.97559783, 213.17083751,
        237.50068482, 194.98826974, 175.04672816, 193.48094802,
        208.609077  , 169.81115051, 254.47313995, 229.13158163,
        168.24800559, 193.19614811, 224.84036798, 164.98067594,
        207.50721905, 206.8365251 , 244.53829762, 252.9382319 ,
        165.83306273, 166.4548102 , 180.84415157, 196.73846824,
        227.56031102, 235.13367724, 229.88699964, 211.80660401,
        175.70263983, 234.26646702, 161.05476776, 194.28722081,
        165.10961078, 217.83424207, 227.65234907, 205.31208079,
        220.43203211, 152.744741  , 187.97664931, 241.17529535,
        235.72864365, 130.35675647, 227.22180695, 207.83889396,
        208.60804907, 147.70398538, 171.95890808, 213.31038612,
        185.0780701 , 189.13248759, 242.61835326, 212.56683327,
        168.25203493, 209.72152551, 191.88814839, 206.54076446,
        172.42649984, 180.90257263, 189.15902397, 156.08193529,
        168.67885938, 238.66920517, 157.21407028, 191.78845077,
        186.07662626, 167.50040118, 267.41766186, 225.75849906,
        182.37169985, 212.08028953, 200.01685601, 213.49956839,
        175.2479778 , 217.80897279, 211.27442482, 175.5682766 ,
        235.3072235 , 238.3114203 , 163.66892117, 170.3837474 ,
        175.73879328, 178.3519851 , 232.7880191 , 205.2487167 ,
        199.59032012, 169.64336551, 230.09605185, 153.263193  ,
        239.06679689, 161.40192354, 224.68867557, 225.29508206,
        164.51845598, 176.41969269, 235.16527378, 145.20933845,
        261.21016823, 172.34419621, 178.61183864, 170.96526897,
        163.83002995, 169.93921945, 210.16455845, 172.12597379,
        206.47577568, 169.35353152, 203.0991551 , 227.05457803,
        230.90715859, 173.45716035, 189.27191576, 192.24559828,
        167.54025669, 180.57603808, 232.20335154, 184.2494864 ,
        214.28684939, 202.6800591 , 225.08977319, 203.47103278,
        221.13883522, 213.76887366, 272.20447527, 235.89229359,
        206.69023614, 190.43968175, 196.03153033, 181.49669645,
        213.80971697, 248.03648711, 208.49518362, 170.07030486,
        176.40435747, 220.97769639, 215.55836426, 219.56800283,
        205.31695502, 179.28049891, 203.7898248 , 197.7849183 ,
        234.72955944, 184.55708839, 175.72850744, 208.50724098,
        184.18178756, 134.83268336, 183.22502033, 180.66080027,
        153.35463093, 203.16426175, 204.58468545, 255.90537398,
        174.73227716, 187.22117379, 195.36520281, 205.80230354,
        185.11077891, 226.97452651, 212.77604503, 204.97086849,
        172.66782106, 209.4425613 , 205.0742753 , 219.47687249,
        165.32877326, 230.21049078, 228.75710718, 170.28251492,
        170.14539982, 274.32332671, 182.60853797, 228.86394556,
        244.36536264, 167.37504362, 200.82235713, 190.50598247,
        138.56426509, 155.87985266, 232.00321572, 249.09732359,
        215.35212693, 168.29336731, 182.11408848, 202.71103247,
        179.28254034, 211.28360303, 163.07807316, 175.00777853,
        141.263163  , 190.98962   , 216.56000077, 213.34187213,
        187.91307919, 198.21489635, 163.12504424, 192.27506355,
        199.44870695, 245.42607318, 175.49181945, 193.73290639,
        192.79758454, 196.21373723, 173.53958312, 200.43473128,
        200.53303665, 178.90567668, 224.16035339, 212.56895606,
        206.50523649, 195.75853338, 182.07706478, 182.95336112,
        173.69900835, 201.54064659, 219.54422289, 216.92886751,
        182.30517046, 152.36231984, 188.3203578 , 189.63743476,
        201.38145495, 229.43299456, 179.2041141 , 193.43173695,
        223.82930834, 212.19023045, 152.36217768, 190.81607573,
        167.25330151, 205.01102096, 184.45173844, 198.58137793,
        194.59222621, 223.65683669, 199.49408444, 195.59141463,
        226.5133137 , 214.38730088, 190.22120784, 220.48782217,
        164.2218235 , 180.09485044, 178.03772481, 167.3976059 ,
        233.01783812, 197.76693881, 188.63036256, 205.9242012 ,
        154.44411076, 202.21899693, 213.71142217, 177.84517935,
        234.14868684, 214.74613919, 186.96331858, 162.37904824,
        256.93638239, 204.98098857, 218.45436295, 183.06693173,
        211.23316945, 195.75142569, 176.59424007, 201.96345343,
        171.88749712, 219.69827211, 210.9902554 , 190.94621947,
        202.6765978 , 213.31133042, 203.1527505 , 160.70571086,
        183.03260855, 188.52964679, 176.90882676, 198.23318411,
        211.86288932, 202.04553404, 220.95177267, 190.67263398,
        216.33794909, 236.99452584, 194.54629071, 225.34663623,
        220.6925135 , 198.57316248, 184.9659341 , 166.02317402,
        230.91721353, 190.0818295 , 219.71227248, 203.7177601 ,
        214.71650805, 188.92485588]))

### Generating Submission File

In [41]:


df_StoreN =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreN

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified
item_code,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13
...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21

In [42]:
#df_StoreN = pd.merge(df_StoreN, df_prices, left_index=True, right_index=True, how='left')
#df_StoreN = pd.merge(df_StoreN, df_exercise, left_index=True, right_index=True, how='left')
df_StoreN = pd.merge(df_StoreN, df_prices, on = 'item_code', how='inner')
df_StoreN = pd.merge(df_StoreN, df_exercise, on ='item_code', how='inner')

In [43]:
df_StoreN.columns

Index(['item_code', 'store_name', 'mass', 'dimension_length',
       'dimension_width', 'dimension_height', 'days_since_last_purchase',
       'package_volume', 'stock_age', 'last_modified', 'prices', '1', '2',
       '3'],
      dtype='object')

In [45]:
df_StoreN

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified,prices,1,2,3
0,P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02,26.91,3.0,260.0,1728533.0
1,P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04,7.04,5.0,512.0,1728505.0
2,P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05,20.84,3.0,85.0,1728489.0
3,P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10,10.00,2.0,709.0,1728538.0
4,P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13,12.98,3.0,984.0,1728506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25,15.88,2.0,854.0,1728513.0
405,P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30,16.21,1.0,991.0,1728554.0
406,P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13,15.32,1.0,572.0,1728489.0
407,P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19,26.05,2.0,989.0,1728504.0
408,P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21,7.57,4.0,37.0,1728483.0

In [47]:
_, x_pred = get_simple_baseline(data2, fillna_value=-1, drop_cols=['item_code','store_name','last_modified'], k_fold=5, scaler='standard',target_col=['quantity_sold'], model='linear', metric='mae', X_data_test = df_StoreN)

In [52]:
print(x_pred.flatten())

[162.38533478 241.65612616 159.91123488 225.45430971 235.74267069
 196.8645821  182.39470092 184.60235913 193.01675845 192.13414134
 222.6570519  201.77214211 228.87893606 214.55964885 231.99012567
 208.08911959 208.56702916 177.82912628 229.57016279 207.31642659
 219.89940997 166.84675137 241.21758887 181.85270124 210.93411266
 162.57456628 298.83993471 211.95653853 163.47671049 173.04512671
 209.18257849 245.73502353 181.43619825 191.18668981 232.47281672
 216.67800796 194.72406133 191.28229476 250.1116177  194.5797919
 199.79741055 172.18396144 178.17080776 149.50147861 182.97306665
 196.10214153 275.72129117 198.79677505 184.77215913 194.17364847
 227.8181037  202.27510051 217.61050338 177.89891834 209.90374832
 215.17640101 170.62371747 218.03399212 208.246128   155.01886096
 173.02637353 217.52828709 164.06063313 203.59815614 156.40133269
 192.25887786 258.32199895 214.35052182 235.59590095 187.23558868
 243.64215349 168.10237836 161.29054813 203.34436708 210.79362335
 190.75248163 186.12634366 199.59405759 206.00606697 201.62880822
 217.93467847 174.1144818  158.06077443 189.67924477 292.21536731
 166.22260818 173.12189005 215.28215297 202.82056883 205.42097901
 206.00716286 176.35403178 182.30597853 203.05436493 237.87303852
 219.38917862 142.36386751 199.70160538 179.70026439 170.32609742
 198.4501295  201.95596031 205.07585359 200.12590463 212.61803432
 161.10702298 230.12428047 172.88519545 184.49835191 205.08164979
 216.49451811 137.77794779 223.37299541 222.74855278 204.07405708
 235.21110871 186.05006047 210.75934451 235.04628449 147.9270498
 170.44825284 203.86929203 251.90474758 230.59059017 138.29454302
 227.3032494  224.65047094 173.68450994 240.96450894 196.15973936
 197.30574239 198.79808408 243.27132297 187.61093878 180.94386975
 212.88349346 212.37144091 159.65553574 211.97653917 188.91224591
 157.58003527 182.09933381 247.40251996 204.71911395 240.61046385
 232.55574419 187.26899524 191.44045002 153.66236113 236.21999286
 186.51532726 126.57778232 230.49027347 170.75353318 201.621587
 213.45145693 184.48407941 168.66063452 228.52866953 231.18336161
 237.54647561 174.64935412 213.61262217 152.27361619 222.90698928
 185.18360392 204.48400598 200.98448804 225.40659877 190.60407262
 173.85206019 179.02551756 175.10966336 205.86222406 172.87260681
 205.77701274 200.24301856 146.46377273 158.03180451 225.24486531
 177.82763818 222.33233665 226.1999492  191.5411727  250.71763275
 179.776755   188.80952815 221.08980017 168.80175195 163.24575487
 208.21317046 222.24184913 169.34900116 178.59360841 162.68943932
 210.37620928 189.92474372 202.41570476 168.04974668 163.9501977
 168.58226374 197.76339524 182.61959251 231.72290238 221.02091702
 235.94842812 212.07439242 188.07538605 219.59555943 211.00786269
 212.53207328 256.48311866 196.44180904 203.78030721 229.62566164
 170.76611724 225.68534842 167.11236899 184.30484907 168.06126375
 172.99615497 203.97237461 149.97970097 206.34991008 184.84524409
 221.83340205 199.79895091 189.89206169 201.09862657 217.52112219
 215.61635708 175.837883   209.16176567 197.53798472 206.95313374
 196.80879252 185.64344229 254.20637002 188.05801738 200.99509706
 151.62944551 163.33814021 177.18113267 154.68497981 163.51950035
 236.97634948 213.52480805 196.62834032 173.74929795 206.76902185
 217.43329871 216.12636766 190.30701235 219.17427942 182.83362144
 198.23112297 193.82031775 190.47117615 170.92231202 188.28973317
 169.31515899 210.42330271 150.67014241 230.50268359 167.77064432
 234.9249713  150.13602374 234.58125881 190.84025744 259.44196932
 187.12626583 213.55206919 161.22724347 191.12834929 199.58135294
 152.2786502  229.48017768 172.15904913 251.14367637 207.4999259
 210.05287536 191.92265271 179.05746882 225.44213142 182.16583964
 198.63083838 222.2728006  174.8894126  161.64711325 218.00911356
 272.21864765 183.21015544 236.33016465 217.95540368 184.88347009
 189.93752027 171.55216727 152.25902159 178.15492931 232.31689671
 204.20327676 207.00570326 158.55250208 205.48359803 238.25569538
 188.83905033 193.43726907 151.4928316  199.01669212 201.90331049
 148.69375691 177.05385221 175.48186331 179.13412546 230.96100543
 214.71904006 146.88825867 187.12719289 238.73420157 219.49152764
 208.16980691 179.68814703 182.82727162 203.0173628  231.66490284
 167.98131397 186.38173401 200.31292171 171.76976203 223.25292645
 206.80507848 177.73920825 246.88651885 149.17866325 167.43438368
 228.40081873 162.01381186 182.0566211  263.52863245 206.99101305
 197.87580819 156.30202565 175.56641709 163.69651788 190.95103858
 188.76822224 231.58219204 234.81233464 158.03281439 197.60217124
 227.59848641 203.95466201 208.85698078 160.82407929 167.26910569
 234.03574344 208.94135108 171.65439779 208.89293425 190.21142575
 197.92571065 153.83203048 223.05226058 199.469087   176.85439522
 209.41539037 233.36291314 163.57836672 211.07257471 230.64600075
 211.90171588 207.61891322 193.28423112 191.06872609 206.11645233
 207.89394195 175.78003512 215.05805858 176.0649579  211.51727196
 270.26243037 208.7893582  166.34960081 219.12411878 203.61050775
 167.00975103 202.4765202  181.37185076 207.01733635 247.83106609
 240.06829124 221.54289046 192.8938486  153.5959711  196.05692892
 137.36429551 209.56283876 150.87315144 169.49783415 215.86307566
 221.19736005 218.13493144 199.50187521 190.04823353 201.46175127
 220.93056835 218.89360554 189.44512944 210.44889908]

In [53]:
submission = pd.DataFrame({
    'item_code': df_StoreN.index,
    'quantity_sold': x_pred.flatten() # your_prediction
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

   item_code  quantity_sold
0          0     162.385335
1          1     241.656126
2          2     159.911235
3          3     225.454310
4          4     235.742671